<div ng-controller="AccountResetPasswordController">
    <div>
        <h2>Reset password?</h2>
    </div>
    <form ng-submit="resetPassword(resetPasswordForm)" name="resetPasswordForm" class="ng-invalid ng-invalid-required ng-dirty ng-valid-email">
        <div class="form-section-block centered">
            <label for="email">Email</label>
            <input readonly class="form-input" type="email" id="email" placeholder="user@example.com" ng-model="email">

            <label for="password">Password</label>
            <input type="password" autofocus class="form-input" id="password" placeholder="Password" ng-model="resetPasswordForm.password">
            <span class="form-error" ng-show="resetPasswordForm.errors">{{resetPasswordForm.errors.password}}</span>
        </div>
        <button type="submit" ng-disabled="!resetPasswordForm.password" class="active-btn">Reset</button>
    </form>
    <span class="dialog-error-bar" ng-show="errorMessage">{{errorMessage}}</span>
</div>
