<div class="account-register dialog-content centered">
    <form name="registerForm" ng-submit="registerAccount(registerForm)">
        <div class="form-section-block centered">
            <label for="email">Email</label>
            <input autofocus required class="form-input" type="email" name="email" id="email" placeholder="user@example.com" ng-model="registerForm.email">
            <span class="form-error" ng-show="registerForm.errors">{{registerForm.errors.email}}</span>

            <label for="password">Password</label>
            <input type="password" required class="form-input" name="password" id="password" placeholder="Password" ng-model="registerForm.password">
            <span class="form-error" ng-show="registerForm.errors">{{registerForm.errors.password}}</span>
        </div>
        <button class="active-btn" ng-disabled="registerForm.$invalid" type="submit">Register</button>
    </form>
</div>
<span class="dialog-error-bar" ng-show="errorMessage">{{errorMessage}}</span>
