﻿<div class="dialog-box-small dialog-content centered">
    <form id="addChoiceDialog-Form" name="addChoiceForm">
        <h2>New Choice</h2>
        <div class="form-section-block centered">
            <label for="name">Name</label>
            <input autofocus class="form-input" id="name" ng-model="addChoiceForm.name" focus/>

            <label for="description">Description</label>
            <input class="form-input" id="description" ng-model="addChoiceForm.description">
        </div>

        <div>
            <button class="active-btn"
                    id="add-button"
                    ng-disabled="!addChoiceForm.name"
                    ng-click="addChoice(addChoiceForm)"
                    ng-if="addAnotherToggle"
                    type="submit"
                    onclick="addChoiceForm.name.focus()">
                Add
            </button>
            <button class="active-btn"
                    id="add-button"
                    ng-disabled="!addChoiceForm.name"
                    ng-click="addChoiceAndClose(addChoiceForm)"
                    ng-if="!addAnotherToggle"
                    type="submit">
                Add
            </button>

            <div class="pull-right padded-top-small">
                <label for="add-another-checkbox">Add Another</label>
                <input type="checkbox" id="add-another-checkbox"
                       ng-model="addAnotherToggle"
                       ng-true-value="true"
                       ng-false-value="false" />
            </div>
        </div>
    </form>
</div>
<span class="dialog-error-bar-bottom" ng-show="displayError">{{displayError}}</span>