<div class="account-login dialog-content centered">
    <form name="addOptionForm" ng-submit="createAnother(addOptionForm)">
        <h2>New Option</h2>
        <div class="form-section-block centered">
            <label for="name">Name</label>
            <input autofocus class="form-input" id="name" ng-model="addOptionForm.name">

            <label for="description">Description</label>
            <input class="form-input" id="description" ng-model="addOptionForm.description">
        </div>
        <button class="active-btn" ng-show="multipleAddingAllowed" ng-disabled="!addOptionForm.name || addOptionForm.name.length === 0" ng-click="addOption(addOptionForm)" type="submit">Add Another</button>
        <button class="active-btn" ng-click="addOptionAndClose(addOptionForm)">Done</button>
    </form>
</div>
<span class="dialog-error-bar-bottom" ng-show="displayError">{{displayError}}</span>