<div ng-controller="BasicVoteController" ng-app="GVA.Voting" class="voting-area">
    <div class="option-area">

        <h3>Options</h3>

        <div ng-repeat="option in poll.Options">
            <div class="option-block" ng-class="{'selected-option': option.voteValue }">
                <div class="option-block-row">
                    <div class="option-buttons">
                        <button ng-if="option.voteValue" id="clear-vote-button" class="error-btn btn-medium" ng-click="clearVote()">Unvote</button>
                        <button ng-if="!option.voteValue" id="vote-button" class="active-btn btn-medium" ng-click="submitVote(option)">Vote</button>
                    </div>
                    <strong>{{option.Name}}</strong>
                </div>
                <div ng-if="option.Description" class="option-block-row">
                    <span truncated-text ng-model="option.Description" max-chars="60" class="option-description"></span>
                </div>
            </div>

            <hr />

        </div>

        <div ng-show="poll.OptionAdding">
            <p>
                <a id="add-option-link" class="icon-padded-left clickable" ng-click="addOption()">+ Add another option</a>
            </p>
        </div>
    </div>
</div>
