<div ng-controller="BasicVoteController" ng-app="VotingApp">
    <h3>Options</h3>
    <div class="option-block" ng-repeat="option in options" ng-class="{'selected-option': option.selected }">
        <div class="option-block-row" margin-bottom:15px">
            <button class="active-btn pull-right" ng-click="vote(option)">Vote</button>
            {{option.Name}}

        </div>
        <div class="option-block-row">
            <button class="info-btn pull-right" ng-click="descriptionToggle=!descriptionToggle">More Info</button>
            <p ng-hide="descriptionToggle">
            </p>
            <p ng-show="descriptionToggle">
                {{option.Description}}
            </p>
        </div>
    </div>
</div>
