<div ng-controller="BasicVoteController" ng-app="GVA.Voting" class="voting-area">
    <h3>Options</h3>
    <div ng-repeat="option in options">
        <div class="option-block" ng-class="{'selected-option': option.selected }">
            <div class="option-block-row" margin-bottom:15px>
                <button class="active-btn btn-medium pull-right" ng-click="submitVote(option)">Vote</button>
                {{option.Name}}

            </div>
            <div class="option-block-row">
                <button class="inactive-btn btn-medium pull-right" ng-click="descriptionToggle=!descriptionToggle">More Info</button>
                <p class="basic-vote-description" ng-hide="descriptionToggle">
                </p>
                <p class="basic-vote-description" ng-show="descriptionToggle">
                    {{option.Description}}
                </p>
            </div>
        </div>
        <hr>
    </div>
</div>
