<div ng-controller="BasicVoteController" ng-app="GVA.Voting" class="voting-area">
    <h3>Options</h3>
    <div ng-repeat="option in options">
        <div class="option-block" ng-class="{'selected-option': option.selected }">
            <div class="option-block-row">
                <div class="option-buttons">
                    <button class="active-btn btn-medium" ng-click="submitVote(option)">Vote</button>
                    <button class="inactive-btn btn-medium" ng-click="descriptionToggle=!descriptionToggle">{{descriptionToggle ? 'Hide' : 'Show'}} Details</button>
                </div>
                <h4>{{option.Name}}</h4>
            </div>
            <div class="option-block-row">
                <p class="option-description" ng-hide="descriptionToggle">
                </p>
                <p class="option-description" ng-show="descriptionToggle">
                    {{option.Description}}
                </p>
            </div>
        </div>
        <hr>
    </div>
</div>
