<div ng-controller="BasicVoteController" ng-app="GVA.Voting" class="voting-area">

    <p ng-if="poll.Choices.length > 0">
        Select your favourite choice.
    </p>
    <p ng-if="poll.Choices.length == 0">This poll has no choices.</p>

    <div class="choice-area">

        <div ng-repeat="choice in poll.Choices">
            <div class="choice-block" ng-class="{'selected-choice': choice.voteValue }">
                <div class="choice-block-row">
                    <div class="choice-buttons">
                        <button ng-if="choice.voteValue" id="clear-vote-button" class="error-btn btn-medium" ng-click="clearVote()">Unvote</button>
                        <button ng-if="!choice.voteValue" id="vote-button" class="active-btn btn-medium" ng-click="submitVote(choice)">Vote</button>
                    </div>
                    <strong>{{choice.Name}}</strong>
                </div>
                <div ng-if="choice.Description" class="choice-block-row">
                    <span truncated-text ng-model="choice.Description" max-chars="60" class="choice-description"></span>
                </div>
            </div>

            <hr />

        </div>

        <div ng-show="poll.ChoiceAdding">
            <p>
                <button id="add-choice-link" class="active-btn icon-padded-left clickable" ng-click="addChoice()">Add a choice</button>
            </p>
        </div>

        <p ng-show="!poll.ChoiceAdding && poll.Choices.length == 0">Hopefully the poll creator will add some soon.</p>

    </div>
</div>
