<div ng-controller="CreateBasicPageController">
    <div>
        <h2>Regular Poller?</h2>
        Register for more config options. It's free!
    </div>

    <div id="question-block">
        Your Question <br />
        <input id="question" placeholder="E.g. Where should we go for lunch?" ng-model="pollQuestion" />
    </div>

    <div id="quickpoll-block">
        <button class="inactive-btn shadowed" ng-click="createPoll(pollQuestion)">Quick Poll</button>
    </div>

    <h3 class="centered-text horizontal-ruled">or</h3>

    <div id="register-block">
        <button class="active-btn shadowed" ng-click="openLoginDialog()">Sign In</button>
        <button class="active-btn shadowed" ng-click="openRegisterDialog()">Register</button>
    </div>
</div>
