<div ng-app="GVA.Manage" ng-controller="ConfirmRegistrationController">
    <div class="manage-area centered">
        <h2>
            Thank you for registering!
        </h2>
        <p class="text-centered">
            You should receive an Email confirmation shortly.
        </p>
        <p class="text-centered">
            If not, ensure you check any spam filters you may have running.
        </p>

        <div class="flexbox">
            <button class="centered active-btn" ng-click="resendConfirmation()">Resend Confirmation Email</button>
        </div>
    </div>
</div>