<div>
    <span class="pull-right" id="signin-header">
        Sign In
        <i class="glyphicon glyphicon-user"></i>
        <i class="glyphicon glyphicon-chevron-down"></i>
    </span>
    <div class="clear"></div>
    <div create-strategy></div>
</div>