@Styles.Render("~/Bundles/CreateStyle")
<div ng-controller="CreatePageController" ng-app="VotingApp">
    <span class="pull-right" id="signin-header">
        Sign In
        <i class="glyphicon glyphicon-user"></i>
        <i class="glyphicon glyphicon-chevron-down"></i>
    </span>
    <div class="clear"></div>
    <div style="text-align:center">
        <h2>Regular Poller?</h2>
        Register for more config options. It's free!
    </div>

    <div id="question-block">
        Your Question <br />
        <input id="question" placeholder="E.g. Where should we go for lunch?" />
    </div>

    <div id="quickpoll-block">
        <button class="inactive-btn shadowed">Quick Poll</button>
    </div>

    <h3 class="centered-text horizontal-ruled">or</h3>

    <div id="register-block">
        <button class="active-btn shadowed" ng-click="openLoginDialog()">Sign In</button>
        <button class="active-btn shadowed">Register</button>
    </div>
</div>
