<div ng-controller="CreatePageController">
    <div class="manage-area centered">

        <h3>Create a quick poll</h3>

        <form name="quickPollForm" ng-submit="createQuickPoll(quickPollForm.pollQuestion, quickPollForm.choices)">
            <div class="manage-section">
                <label for="question">Question:</label>
                <input id="question" class="full-width form-input" placeholder="E.g. Where should we go for lunch?" ng-model="quickPollForm.pollQuestion" />
            </div>

            <div id="choices-block" class="manage-section">
                Choices:
                <div ng-repeat="choice in quickPollForm.choices" class="manage-section-row">
                    <input class="full-width form-input-small"
                           placeholder="{{'Choice ' + ($index + 1)}}"
                           ng-keydown="balanceChoices(quickPollForm.choices)"
                           ng-model="choice.Name" />
                </div>
            </div>

            <div class="flexbox manage-section">
                <button id="quickpoll-button"
                        type="submit"
                        class="active-btn btn-medium shadowed centered"
                        ng-disabled="!quickPollForm.pollQuestion || !validateChoices(quickPollForm.choices)">
                    Create
                </button>
            </div>

            <div ng-init="quickPollForm.choices = [{}, {}]"></div>
        </form>
    </div>

    <h3 class="centered-text horizontal-ruled">or</h3>

    <div class="manage-area centered">
        <h3>Create a custom poll</h3>

        <form name="customPollForm" ng-submit="createCustomPoll(customPollForm.pollQuestion)">
            <div id="question-block" class="manage-section">
                <label for="question">Question:</label>
                <input id="question" class="full-width form-input" placeholder="E.g. How do you travel to work?" ng-model="customPollForm.pollQuestion" />
            </div>

            <div class="manage-section flexbox">
                <button id="custompoll-button" type="submit" class="active-btn btn-medium shadowed centered" ng-disabled="!customPollForm.pollQuestion">Create</button>
            </div>
        </form>

    </div>


</div>
