@Styles.Render("~/Bundles/DateTimePickerStyle")
<div class="dp-date-picker">
    <div class="dp-date-control">
        <span class="fa fa-chevron-left dtp-clickable dp-month-backwards" aria-hidden="true" ng-click="moveMonth(-1)"></span>
        <span class="dp-date-display">{{monthYearDisplay}}</span>
        <span class="fa fa-chevron-right dtp-clickable dp-month-forwards" aria-hidden="true" ng-click="moveMonth(1)"></span>
    </div>
    <table class="dp-calendar">
        <thead>
            <tr>
                <th class="dp-calendar-column" ng-repeat="weekday in weekdays">{{weekday}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in rows">
                <td ng-repeat="cell in row">
                    <div class="dtp-clickable dp-calendar-cell" ng-if="cell.enabled" ng-click="setModelDate(cell.date)" ng-class="{'dp-calendar-cell-selected' : cell.selected}">
                        {{cell.date.date()}}
                    </div>
                    <div class="dp-disabled dp-calendar-cell" ng-if="!cell.enabled">
                        {{cell.date.date()}}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
