@Styles.Render("~/Bundles/DatePickerStyle")
<div class="dp-date-picker">
    <div class="dp-date-control">
        <span class="glyphicon glyphicon-chevron-left dp-clickable" aria-hidden="true" ng-click="moveMonth(-1)"></span>
        <span class="dp-date-display">{{displayDate}}</span>
        <span class="glyphicon glyphicon-chevron-right dp-clickable" aria-hidden="true" ng-click="moveMonth(1)"></span>
    </div>
    <table class="dp-calendar">
        <thead>
            <tr>
                <th class="dp-calendar-column" ng-repeat="weekday in weekdays">{{weekday}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in rows">
                <td class="dp-clickable dp-calendar-cell" ng-click="setModelDate(cell.date)" ng-class="{'dp-calendar-cell-selected' : cell.selected}" ng-repeat="cell in row">
                    {{cell.date.date()}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
