<div class="account-login dialog-content centered">
    <form name="editOptionForm" ng-submit="updateOption()">
        <h2>Edit Option</h2>
        <div class="form-section-block centered">
            <label for="name">Name</label>
            <input autofocus class="form-input" id="name" ng-model="editOptionFormName" required>

            <label for="description">Description</label>
            <input class="form-input" id="description" ng-model="editOptionFormDescription">
        </div>
        <button id="dialog-save-button" class="active-btn" ng-disabled="editOptionForm.$invalid" ng-click="updateOption()" type="submit">Save</button>
    </form>
</div>
<span class="dialog-error-bar-bottom" ng-show="displayError">{{displayError}}</span>