@Styles.Render("~/Bundles/CreateStyle")
<div ng-controller="CreateHomeController" ng-app="VotingApp">
    <span class="pull-right" id="signin-header">
        Sign In
        <i class="glyphicon glyphicon-user"></i>
        <i class="glyphicon glyphicon-chevron-down"></i>
    </span>
    <div class="clear"></div>
    
    <div quick-poll-or-sign-in />
</div>
