<div>
    <form>
        <label for="name-input">Enter your name to vote</label>
        <div class="centered">
            <input autofocus class="form-input" name="name-input" id="name-input" placeholder="Magnus Carlsen" ng-model="name">
            <button class="active-btn" ng-click="loginIdentity(name)">Go</button>
        </div>
    </form>
</div>
