<div>
    <form>
        <label for="name-input">Enter your name to vote</label>
        <div class="centered">
            <input class="form-input" name="name-input" id="name-input" placeholder="Magnus Carlsen">
            <button class="active-btn">Go</button>
        </div>
    </form>
</div>
