<div ng-app="GVA.Creation" ng-controller="ManageOptionController as vm">
    <div class="manage-area centered">
        <h2>
            Poll Options
        </h2>
        <p ng-if="options.length === 0">No options have been added.</p>

        <div class="manage-section" ng-repeat="option in options">
            <span class="fa fa-trash-o pull-right clickable form-aligned-top" ng-click="removeOption(option)"></span>
            <span class="fa fa-pencil pull-right clickable form-aligned-top" ng-click="editOption(option)"></span>
            <div ng-if="!option.editOptionToggle" aria-hidden="true">
                <h4>{{option.Name}}</h4>
                <div>{{option.Description}}</div>
            </div>
        </div>

        <p>
            <a class="icon-padded-left clickable" ng-click="addOption()">+ New Option</a>
        </p>

        <div class="manage-section">
            <button id="cancel-button" class="manage-btn" ng-click="returnWithoutSave();">Cancel</button>
            <button id="save-button" class="manage-btn" ng-click="saveOptionsAndReturn()">Save</button>
        </div>
    </div>
</div>
