<div ng-app="GVA.Creation" ng-controller="ManagePageController">
    <div class="manage-options-area centered">
        <div>
            <span class="glyphicon glyphicon-question-sign pull-left manage-option-icon" aria-hidden="true"></span>
            <h4>Question:</h4>
            <span>{{poll.Name}}</span>
            <span class="pull-right"><a href="#/Manage/{{manageId}}/Name">Edit</a></span>
        </div>
        <div>
            <span class="glyphicon glyphicon-th-list pull-left manage-option-icon" aria-hidden="true"></span>
            <h4>Options:</h4>
            <span>{{poll.Options.length}} Options</span>
            <span class="pull-right"><a href="#/Manage/{{manageId}}/Options">Edit</a></span>
        </div>
        <div>
            <span class="glyphicon glyphicon-user pull-left manage-option-icon" aria-hidden="true"></span>
            <h4>Voters:</h4>
            <span>Friends & Coworkers</span>
            <span class="pull-right"><a href="#/Manage/{{manageId}}/Voters">Edit</a></span>
        </div>
        <div>
            <span class="glyphicon glyphicon-check pull-left manage-option-icon" aria-hidden="true"></span>
            <h4>Poll Style:</h4>
            <span>{{poll.VotingStrategy}}</span>
            <span class="pull-right"><a href="#/Manage/{{manageId}}/PollType">Edit</a></span>
        </div>
        <div>
            <span class="glyphicon glyphicon-time pull-left manage-option-icon" aria-hidden="true"></span>
            <h4>Expires:</h4>
            <span>{{formatPollExpiry()}}</span>
            <span class="pull-right"><a href="#/Manage/{{manageId}}/Expiry">Edit</a></span>
        </div>
    </div>
</div>