<div ng-app="GVA.Creation" ng-controller="ManageNameController">
    <div class="manage-section-area centered">
        <form name="updateQuestionForm" ng-submit="update(poll)">
            <div class="form-section-block">
                <label for="Name">Poll Question</label>
                <input autofocus ng-model="poll.Name" required id="Name" />
            </div>

            <button class="manage-option-btn" ng-click="return()" type="button">Back</button>
            <button class="manage-option-btn" ng-disabled="updateQuestionForm.$invalid" type="submit">Update</button>
        </form>
    </div>
</div>