<div ng-app="GVA.Manage" ng-controller="ManageMiscController">
    <div class="manage-area centered">
        <h2>Poll Invitation Style</h2>
        <div class="manage-section">
            <div>
                <form class="form-section-block">
                    <label for="InviteOnly">Voters require an invite to vote</label>
                    <toggle-switch id="InviteOnly" ng-model="poll.InviteOnly" on-label="Yes" off-label="No"></toggle-switch>
                    <small ng-if="poll.InviteOnly">Voters may only submit a vote if invited</small>
                    <small ng-if="!poll.InviteOnly">Anyone with a link to the poll can vote</small>
                </form>
            </div>
        </div>
        <div class="manage-section">
            <div>
                <form class="form-section-block">
                    <label for="NamedVoting">Voters must give a name to vote</label>
                    <toggle-switch id="NamedVoting" ng-model="poll.NamedVoting" on-label="Yes" off-label="No"></toggle-switch>
                    <small ng-if="poll.NamedVoting">Voters are required to supply a name when voting</small>
                    <small ng-if="!poll.NamedVoting">All votes are anonymous</small>
                </form>
            </div>
        </div>
        <div class="manage-section">
            <div>
                <form class="form-section-block">
                    <label for="ChoiceAdding">Voters can add their own choices</label>
                    <toggle-switch id="ChoiceAdding" ng-model="poll.ChoiceAdding" on-label="Yes" off-label="No"></toggle-switch>
                    <small ng-if="poll.ChoiceAdding">Voters can add their own choices to the poll</small>
                    <small ng-if="!poll.ChoiceAdding">Voters cannot add their own choices to the poll</small>
                </form>
            </div>
        </div>
        <div class="manage-section">
            <div>
                <form class="form-section-block">
                    <label for="ElectionMode">Voters must vote before they can see results and can not change their vote</label>
                    <toggle-switch id="ElectionMode" ng-model="poll.ElectionMode" on-label="Yes" off-label="No"></toggle-switch>
                    <small ng-if="poll.ElectionMode">Voters can not see the results until they have cast a vote and can not change their vote</small>
                    <small ng-if="!poll.ElectionMode">Voters can see results at any time and change their vote</small>
                </form>
            </div>
        </div>

        <div class="manage-section">
            <button id="cancel-button" class="manage-btn" ng-click="return()">Cancel</button>
            <button id="save-button" class="manage-btn" ng-click="updatePoll()">Save</button>
        </div>
    </div>
</div>




