<div ng-app="GVA.Creation" ng-controller="ManageOptionController as vm">
    <div class="manage-area centered">
        <h2>
            Poll Options
        </h2>
        <p ng-if="poll.Options.length === 0">No options have been added.</p>
        <div class="manage-section" ng-repeat="option in poll.Options">
            <form ng-submit="option.editOptionToggle=false">
                <div ng-if="!option.editOptionToggle" aria-hidden="true">
                    <span class="glyphicon glyphicon-trash pull-right clickable" ng-click="remove(option)"></span>
                    <span class="glyphicon glyphicon-pencil pull-right clickable" ng-click="edit(option)"></span>
                    <h4>{{option.Name}}</h4>
                    <div>
                        {{option.Description}}
                    </div>
                </div>
                <div ng-if="option.editOptionToggle" aria-hidden="true">
                    <span class="glyphicon glyphicon-ban-circle pull-right clickable form-aligned-top" ng-click="option.editOptionToggle=false"></span>
                    <span class="glyphicon glyphicon-ok pull-right clickable form-aligned-top" ng-click="option.editOptionToggle=false"></span>
                    <h4><input class="wide-input" ng-model="option.Name" autofocus /></h4>
                    <span><input class="wide-input" ng-model="option.Description" /></span>
                </div>
                @*Angular requires a button for submission. Go figure.*@
                <button type="submit" hidden></button>
            </form>
        </div>
        <div class="manage-section">
            <form name="newOptionForm" ng-submit="add(newOptionForm)">
                <div>
                    <strong>Name</strong> <br />
                    <span class="glyphicon glyphicon-plus pull-right clickable" ng-click="add(newOptionForm)"></span>
                    <input class="wide-input" ng-model="newOptionForm.Name" required autofocus />
                    <br />
                    <strong>Description</strong> <br />
                    <input class="wide-input" ng-model="newOptionForm.Description" />
                    @*Angular requires a button for submission. Go figure.*@
                    <button type="submit" hidden></button>
                </div>
            </form>
        </div>
        <div class="manage-section">
            <button class="manage-btn" ng-click="return();">Cancel</button>
            <button class="manage-btn" ng-click="catchDirtyInput(); updatePoll()">Save</button>
        </div>
    </div>
</div>