<div ng-app="GVA.Creation" ng-controller="ManagePageController">
    <div class="manage-area centered">
        <h2>
            Poll Management
        </h2>
        <div class="manage-section">
            <div>
                <span class="glyphicon glyphicon-question-sign pull-left" aria-hidden="true"></span>
                <h4 class="icon-padded-left">Question:</h4>
            </div>
            <div>
                <span class="icon-padded-left"><input class="manage-name-input" ng-model="poll.Name" required ng-model-options="{debounce: 1000}" ng-change="updatePoll()" /></span>
            </div>
        </div>
        <div class="manage-section">
            <div>
                <span class="glyphicon glyphicon-th-list pull-left" aria-hidden="true"></span>
                <h4 class="icon-padded-left">Options:</h4>
            </div>
            <div>
                <span class="icon-padded-left">{{poll.Options.length}} Options</span>
                <span class="pull-right"><a href="#/Manage/{{manageId}}/Options">Edit</a></span>
            </div>
        </div>
        <div class="manage-section">
            <div>
                <span class="glyphicon glyphicon-user pull-left" aria-hidden="true"></span>
                <h4 class="icon-padded-left">Voters:</h4>
            </div>
            <div>
                <span class="icon-padded-left">{{poll.Voters.length}} Voters</span>
                <gva-unlockable-option option-path="{{manageId}}/Voters"></gva-unlockable-option>
            </div>
        </div>
        <div class="manage-section">
            <div>
                <span class="glyphicon glyphicon-envelope pull-left" aria-hidden="true"></span>
                <h4 class="icon-padded-left">Invitation style:</h4>
            </div>
            <div>
                <span class="icon-padded-left" ng-if="poll.InviteOnly">Invite Only, </span>
                <span class="icon-padded-left" ng-if="!poll.InviteOnly">Open Voting, </span>
                <span ng-if="poll.NamedVoting">Named Voters</span>
                <span ng-if="!poll.NamedVoting">Anonymous Voters</span>
                <gva-unlockable-option option-path="{{manageId}}/Invitations"></gva-unlockable-option>
            </div>
        </div>
        <div class="manage-section">
            <div>
                <span class="glyphicon glyphicon-check pull-left" aria-hidden="true"></span>
                <h4 class="icon-padded-left">Poll Style:</h4>
            </div>
            <div>
                <span class="icon-padded-left">{{poll.VotingStrategy}}</span>
                <gva-unlockable-option option-path="{{manageId}}/PollType"></gva-unlockable-option>
            </div>
        </div>
        <div class="manage-section">
            <div>
                <span class="glyphicon glyphicon-time pull-left" aria-hidden="true"></span>
                <h4 class="icon-padded-left">Expires:</h4>
            </div>
            <div>
                <span>
                    <span class="icon-padded-left">{{formatPollExpiry()}}</span>
                    <span class="pull-right"><a href="#/Manage/{{manageId}}/Expiry">Edit</a></span>
                </span>
            </div>
        </div>
        <div class="manage-section flexbox">
            <div class="centered">
                <a href="/Poll/#/Vote/{{poll.UUID}}">
                    <button class="active-btn btn-large">Go to poll</button>
                </a>
            </div>
        </div>
    </div>
</div>