<div ng-app="GVA.Manage" ng-controller="ManagePollTypeController">
    <div class="manage-area centered">
        <h2>The Style</h2>
        <h3>How will the voters vote?</h3>

        <div class="manage-section flexbox">
            <div id="basic-vote-button" class="inactive-btn btn-large clickable poll-type-btn" ng-class="{'active-btn' : PollType=='Basic'}" ng-click="updateStrategy('Basic')">
                <span class="pull-left">
                    <span class="fa fa-check" aria-hidden="true"></span>
                    <span class="poll-type-text">Single Vote</span>
                </span>
            </div>
        </div>

        <div class="manage-section flexbox">
            <div id="multi-vote-button" class="inactive-btn btn-large clickable poll-type-btn" ng-class="{'active-btn' : PollType=='Multi'}" ng-click="updateStrategy('Multi')">
                <span class="pull-left">
                    <span class="fa fa-check-square-o" aria-hidden="true"></span>
                    <span class="poll-type-text">Multi Vote</span>
                </span>
            </div>
        </div>

        <div class="manage-section flexbox">
            <div id="updown-vote-button" class="inactive-btn btn-large clickable poll-type-btn" ng-class="{'active-btn' : PollType=='UpDown'}" ng-click="updateStrategy('UpDown')">
                <span class="pull-left">
                    <span class="fa fa-thumbs-o-up" aria-hidden="true"></span>
                    <span class="poll-type-text">Up/Down Vote</span>
                </span>
            </div>
        </div>

        <div class="manage-section flexbox">
            <div class="poll-type-btn-extended" ng-class="{'selected':PollType=='Points'}">
                <div id="points-vote-button" class="inactive-btn btn-large clickable poll-type-btn" ng-class="{'active-btn' : PollType=='Points'}" ng-click="updateStrategy('Points')">
                    <span class="pull-left">
                        <span class="fa fa-tasks" aria-hidden="true"></span>
                        <span class="poll-type-text">Points Vote</span>
                    </span>
                </div>
                <div class="content">
                    <div class="pull-left text-centered" id="points-per-poll">
                        <small>Points per poll</small><br />
                        <div class="btn-group-points" ng-class="{'selected':PollType=='Points'}">
                            <button id="decrease-button" class=" active-btn pull-left" ng-disabled="!canDecrementMP()" ng-click="(MaxPoints = MaxPoints - 1)">
                                -
                            </button>
                            <label class="points-label text-centered">{{MaxPoints}}</label>
                            <button id="increase-button" class="active-btn pull-right" ng-disabled="!canIncrementMP()" ng-click="(MaxPoints = MaxPoints + 1)">
                                +
                            </button>
                        </div>
                    </div>
                    <div class="pull-right text-centered" id="points-per-vote">
                        <small>Points per vote</small><br />
                        <div class="btn-group-points" ng-class="{'selected':PollType=='Points'}">
                            <button id="decrease-button" class=" active-btn pull-left" ng-disabled="!canDecrementMPV()" ng-click="(MaxPerVote = MaxPerVote - 1)">
                                -
                            </button>
                            <label class="points-label text-centered">{{MaxPerVote}}</label>
                            <button id="increase-button" class="active-btn pull-right" ng-disabled="!canIncrementMPV()" ng-click="(MaxPerVote = MaxPerVote + 1)">
                                +
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="manage-section">
            <button id="cancel-button" class="manage-btn" ng-click="return()">Cancel</button>
            <button id="save-button" class="manage-btn" ng-click="updatePoll()">Save</button>
        </div>
    </div>
</div>
