<div ng-app="GVA.Creation" ng-controller="ManageVotersController">
    <div class="manage-area centered">
        <h2>Poll Voters</h2>

        <div class="manage-section">
            <div class="centered">
                <div class="error-btn btn-large clickable">
                    Reset All Votes
                </div>
            </div>
        </div>

        <div class="manage-section">


            <table width="100%">
                <tbody ng-repeat="ballot in voters">
                    <tr>
                        <td>
                            <span>{{ballot.VoterName}}</span>
                            <span class="clickable" ng-click="votesVisible = !votesVisible" ng-show="!votesVisible">+</span>
                            <span class="clickable" ng-click="votesVisible = !votesVisible" ng-show="votesVisible">-</span>
                        </td>
                        <td>
                            <span class="pull-right clickable">Delete</span>
                        </td>
                    </tr>
                    <tr ng-repeat="vote in ballot.Votes" ng-show="votesVisible">
                        <td style="padding-left: 20px;">{{vote.OptionName}}</td>
                        <td>
                            <span class="pull-right clickable">Delete</span>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
