<div ng-app="GVA.Creation" ng-controller="ManagePollTypeController">
    <div class="manage-area centered">
        <h2>Poll Type</h2>

        <div class="manage-section">
            <button class="manage-btn" ng-click="return()">Back</button>
        </div>
    </div>
</div>
