<div ng-app="GVA.Creation" ng-controller="ManageExpiryController">
    <div class="manage-area centered">
        {{formatDate()}}
        <date-picker ng-model="poll.ExpiryDate" />
    </div>
</div>
