<div ng-app="GVA.Creation" ng-controller="ManageExpiryController">
    <div class="manage-area centered">
        <h2>
            Poll Expiry
        </h2>
        <h3>
            When will the poll end?
        </h3>
        <div class="manage-section text-centered">
            <em>{{formatExpiry()}}</em>
        </div>

        <h4>
            Pick a date:
        </h4>

        <div class="manage-section">
            <date-picker ng-model="ExpiryDateLocal" filter="dateFilter"/>
        </div>

        <div class="manage-section">
            <time-picker ng-model="ExpiryDateLocal" debounce="1000"/>
        </div>

        <div class="manage-section">
            <button id="hour-adjust-button" class="active-btn" ng-click="setDate('hour')">1 Hour</button>
            <button id="day-adjust-button" class="active-btn" ng-click="setDate('day')">1 Day</button>
            <button id="week-adjust-button" class="active-btn" ng-click="setDate('week')">1 Week</button>
            <button id="never-adjust-button" class="active-btn" ng-click="removeExpiry()">Never</button>
        </div>

        <div class="manage-section">
            <button id="cancel-button" class="manage-btn" ng-click="return()">Cancel</button>
            <button id="save-button" class="manage-btn" ng-click="updatePoll()">Save</button>
        </div>
    </div>
</div>
