<div ng-controller="MultiVoteController" ng-app="GVA.Voting" class="voting-area">
    <div class="option-area">

        <h3>Options</h3>

        <div ng-repeat="option in poll.Options">
            <div class="option-block clickable" ng-class="{'selected-option': option.voteValue }" ng-click="option.voteValue = option.voteValue ? 0 : 1">
                <div class="option-block-row">
                    <input class="pull-right option-checkbox" type="checkbox" ng-model="option.voteValue" ng-true-value="1" ng-false-value="0" ng-click="$event.stopPropagation()" />
                    <strong>{{option.Name}}</strong>
                </div>
                <div ng-if="option.Description" class="option-block-row">
                    <span truncated-text ng-model="option.Description" max-chars="60" class="option-description"></span>
                </div>
            </div>

            <hr />

        </div>

        <div ng-show="poll.OptionAdding">
            <p>
                <a id="add-option-link" class="icon-padded-left clickable" ng-click="addOption()">+ Add another option</a>
            </p>
        </div>
    </div>
    <div class="flexbox">
        <button id="vote-button" class="active-btn btn-medium centered" ng-click="submitVote(poll.Options)">Vote</button>
    </div>
</div>