<div ng-controller="MultiVoteController" ng-app="GVA.Voting" class="voting-area">

    <p ng-if="poll.Choices.length > 0">
        Select as many choices as you wish.
    </p>
    <p ng-if="poll.Choices.length == 0">This poll has no choices.</p>

    <div class="choice-area">

        <div ng-repeat="choice in poll.Choices">
            <div class="choice-block clickable" ng-class="{'selected-choice': choice.voteValue }" ng-click="choice.voteValue = choice.voteValue ? 0 : 1">
                <div class="choice-block-row">
                    <input class="pull-right choice-checkbox" type="checkbox" ng-model="choice.voteValue" ng-true-value="1" ng-false-value="0" ng-click="$event.stopPropagation()" />
                    <strong>{{choice.Name}}</strong>
                </div>
                <div ng-if="choice.Description" class="choice-block-row">
                    <span truncated-text ng-model="choice.Description" max-chars="60" class="choice-description"></span>
                </div>
            </div>

            <hr />

        </div>

        <div ng-show="poll.ChoiceAdding">
            <p>
                <button id="add-choice-link" class="active-btn icon-padded-left clickable" ng-click="addChoice()">Add a choice</button>
            </p>
        </div>
    </div>

    <p ng-show="!poll.ChoiceAdding && poll.Choices.length == 0">Hopefully the poll creator will add some soon.</p>

    <div class="flexbox" ng-show="poll.Choices.length > 0">
        <button id="vote-button" class="active-btn btn-medium centered" ng-click="submitVote(poll.Choices)">Vote</button>
    </div>
</div>