<div ng-controller="MultiVoteController" ng-app="GVA.Voting" class="voting-area">
    <h3>Options</h3>
    <div ng-repeat="option in options">
        <div class="option-block" ng-class="{'selected-option': option.voteValue }" ng-click="option.voteValue=option.voteValue?0:1">
            <div class="option-block-row">
                <input class="pull-left option-checkbox" type="checkbox" ng-model="option.voteValue" ng-true-value="1" ng-false-value="0" ng-click="$event.stopPropagation()" />
                <h4>{{option.Name}}</h4>
            </div>
            <div ng-if="option.Description" class="option-block-row checkbox-padded-left">
                <p truncated-text ng-model="option.Description" max-chars="60" class="option-description"></p>
            </div ng-if>
        </div>
        <hr />
    </div>
    <div class="flexbox">
        <button class="active-btn btn-medium centered" ng-click="submitVote(options)">Vote</button>
    </div>
</div>