<div ng-controller="MultiVoteController" ng-app="GVA.Voting" class="voting-area">
    <h3>Options</h3>
    <div ng-repeat="option in options">
        <div class="option-block" ng-class="{'selected-option': option.voteValue }" ng-click="option.voteValue=option.voteValue?0:1">
            <input class="pull-left option-checkbox" type="checkbox" ng-model="option.voteValue" ng-true-value="1" ng-false-value="0" ng-click="$event.stopPropagation()" />
            <p class="option-text">{{option.Name}}</p>
            <div class="option-buttons">
                <button class="inactive-btn" ng-click="descriptionToggle=!descriptionToggle;$event.stopPropagation()">More info</button>
            </div>
            <div class="multivote-option-description" ng-show="descriptionToggle">
                {{option.Description}}
            </div>
            <div ng-hide="descriptionToggle">
            </div>
            <div class="clear"></div>
        </div>
        <hr />
    </div>
    <div class="flexbox">
        <button class="active-btn centered" ng-click="submitVote(options)">Vote</button>
    </div>
</div>