<div ng-controller="PointsVoteController" ng-app="GVA.Voting" class="voting-area">

    <span>Unallocated points: {{unallocatedPoints()}}/{{poll.MaxPoints}}</span>
    <div class="progress" id="progress-bar">
        <div ng-style="{ 'width': unallocatedPointsPercentage() + '%' }" class="progress-bar" role="progressbar"></div>

    </div>

    <div class="option-area">

        <h3>Options</h3>

        <div ng-repeat="option in poll.Options">
            <div class="option-block">
                <div class="option-block-row">
                    <div class="option-buttons">
                        <div class="btn-group-points">
                            <button id="decrease-button" class="active-btn pull-left" ng-disabled="shouldSubtractPointsBeDisabled(option)" ng-click="decreaseVote(option)">-</button>
                            <label class="points-label">{{option.voteValue}}/{{poll.MaxPerVote}}</label>
                            <button id="increase-button" class="active-btn pull-right" ng-disabled="addPointsDisabled(option)" ng-click="increaseVote(option)">+</button>
                        </div>
                    </div>
                    <strong>{{option.Name}}</strong>
                </div>
                <div ng-if="option.Description" class="option-block-row">
                    <span truncated-text ng-model="option.Description" max-chars="60" class="option-description"></span>
                </div>
            </div>

            <hr />

        </div>

        <div ng-show="poll.OptionAdding">
            <p>
                <a id="add-option-link" class="icon-padded-left clickable" ng-click="addOption()">+ Add another option</a>
            </p>
        </div>
    </div>
    <div class="flexbox">
        <button id="vote-button" class="active-btn btn-medium centered" ng-click="submitVote(poll.Options)">Vote</button>
    </div>
</div>
