<div ng-controller="PointsVoteController" ng-app="VotingApp">
    Unallocated points: 3/5
    <div class="progress" id="progress-bar">
        <div style="width: 60%" class="progress-bar" role="progressbar"></div>
    </div>

    <h3>Options</h3>
    <div ng-repeat="option in options">
        <div class="option-block">
            <p class="option-text">{{option.name}}</p>
            <div class="option-buttons">
                <span class="btn-group">
                    <button class="active-btn pull-left">-</button>
                    <label class="points-label">{{option.pollValue}}/3</label>
                    <button class="active-btn pull-right">+</button>
                </span>
                <button class="info-btn more-info" ng-click="descriptionToggle=!descriptionToggle">More info</button>
            </div>
            <div class="option-description" ng-show="descriptionToggle">
                {{option.description}}
            </div>
            <div ng-hide="descriptionToggle">
            </div>
            <div class="clear"></div>
        </div>
        <hr />
    </div>
    <div class="flexbox">
        <button class="vote-btn centered">Vote</button>
    </div>
</div>
<br />
