<div ng-controller="PointsVoteController" ng-app="GVA.Voting" class="voting-area">
    Unallocated points: {{unallocatedPoints()}}/{{totalPointsAvailable}}
    <div class="progress" id="progress-bar">
        <div style="width: {{unallocatedPoints()/totalPointsAvailable * 100}}%" class="progress-bar" role="progressbar"></div>
    </div>

    <h3>Options</h3>
    <div ng-repeat="option in options">
        <div class="option-block">
            <p class="option-text">{{option.Name}}</p>
            <div class="option-buttons">
                <span class="btn-group-points">
                    <button class="active-btn pull-left" ng-disabled="(option.voteValue <= 0)" ng-click="(option.voteValue = option.voteValue-1)">-</button>
                    <label class="points-label">{{option.voteValue}}/{{maxPointsPerOption}}</label>
                    <button class="active-btn pull-right" ng-disabled="(disabledAddPoints(option.voteValue))" ng-click="(option.voteValue = option.voteValue+1)">+</button>
                </span>
                <button class="inactive-btn" ng-click="descriptionToggle=!descriptionToggle">More info</button>
            </div>
            <div class="option-description" ng-show="descriptionToggle">
                {{option.Description}}
            </div>
            <div ng-hide="descriptionToggle">
            </div>
            <div class="clear"></div>
        </div>
        <hr />
    </div>
    <div class="flexbox">
        <button class="active-btn centered" ng-click="vote(options)">Vote</button>
    </div>
</div>
