<div ng-controller="PointsVoteController" ng-app="GVA.Voting" class="voting-area">


    Unallocated points: {{unallocatedPoints()}}/{{poll.MaxPoints}}
    <div class="progress" id="progress-bar">
        <div ng-style="{ 'width': unallocatedPointsPercentage() + '%' }" class="progress-bar" role="progressbar"></div>

    </div>

    <div class="option-area">

        <h3>Options</h3>

        <div ng-repeat="option in poll.Options">
            <div class="option-block">
                <div class="option-block-row">
                    <div class="option-buttons">
                        <span class="btn-group-points">
                            <button class="active-btn pull-left" ng-disabled="(option.voteValue <= 0)" ng-click="decreaseVote(option)">-</button>
                            <label class="points-label">{{option.voteValue}} / {{poll.MaxPerVote}}</label>
                            <button class="active-btn pull-right" ng-disabled="(disabledAddPoints(option.voteValue))" ng-click="increaseVote(option)">
                                +
                            </button>
                        </span>
                    </div>
                    <strong>{{option.Name}}</strong>
                </div>
                <div ng-if="option.Description" class="option-block-row">
                    <span truncated-text ng-model="option.Description" max-chars="60" class="option-description"></span>
                </div>
            </div>

            <hr />

        </div>

        <div ng-show="poll.OptionAdding">
            <p>
                <a class="icon-padded-left clickable" ng-click="addOption()">+ Add another option</a>
            </p>
        </div>
    </div>
    <div class="flexbox">
        <button class="active-btn btn-medium centered" ng-click="submitVote(poll.Options)">Vote</button>
    </div>
</div>
