<div ng-controller="PointsVoteController" ng-app="GVA.Voting" class="voting-area">


    <div ng-if="poll.Choices.length > 0">
        <p>
            Distribute {{poll.MaxPoints}} points amongst the various choices. <br />
            You don't have to use all {{poll.MaxPoints}} points and can allocate up to {{poll.MaxPerVote}} points per choice.
        </p>

        <h4 id="points-display">Unallocated points: {{unallocatedPoints()}}/{{poll.MaxPoints}}</h4>
        <div class="progress spaced-bottom" id="progress-bar">
            <div ng-style="{ 'width': unallocatedPointsPercentage() + '%' }" class="progress-bar" role="progressbar"></div>

        </div>

    </div>
    <p ng-if="poll.Choices.length == 0">This poll has no choices.</p>

    <div class="choice-area">
        
        <div ng-repeat="choice in poll.Choices">
            <div class="choice-block">
                <div class="choice-block-row">
                    <div class="choice-buttons">
                        <div class="btn-group-points">
                            <button id="decrease-button" class="active-btn pull-left" ng-disabled="shouldSubtractPointsBeDisabled(choice)" ng-click="decreaseVote(choice)">-</button>
                            <label class="points-label">{{choice.voteValue}}/{{poll.MaxPerVote}}</label>
                            <button id="increase-button" class="active-btn pull-right" ng-disabled="addPointsDisabled(choice)" ng-click="increaseVote(choice)">+</button>
                        </div>
                    </div>
                    <strong>{{choice.Name}}</strong>
                </div>
                <div ng-if="choice.Description" class="choice-block-row">
                    <span truncated-text ng-model="choice.Description" max-chars="60" class="choice-description"></span>
                </div>
            </div>

            <hr />

        </div>

        <div ng-show="poll.ChoiceAdding">
            <p>
                <button id="add-choice-link" class="active-btn icon-padded-left clickable" ng-click="addChoice()">Add a choice</button>
            </p>
        </div>
    </div>

    <p ng-show="!poll.ChoiceAdding && poll.Choices.length == 0">Hopefully the poll creator will add some soon.</p>

    <div class="flexbox" ng-show="poll.Choices.length > 0">
        <button id="vote-button" class="active-btn btn-medium centered" ng-click="submitVote(poll.Choices)">Vote</button>
    </div>
</div>
