<span class="dialog-error-bar-top">Warning</span>
<div class="dialog-content centered">
    <h3 class="error">Changing the poll style will remove all existing votes.</h3>
    <button class="inactive-btn btn-medium" ng-click="back()">Back</button>
    <button class="error-btn btn-medium" ng-click="confirm()">Continue</button>
</div>
