<div ng-app="GVA.Manage" ng-controller="ManagePageController">
    <div class="manage-area centered">
        <h2>
            Thank you for registering!
        </h2>
        <p class="text-centered">
            You should receive an Email confirmation shortly.
        </p>
        <p class="text-centered">
            If not, ensure you check your spam filters and click th ebutton below if you still can't find it.
        </p>

        <div class="flexbox">
            <button class="centered active-btn">Resend Email</button>
        </div>
    </div>
</div>