<div ng-controller="ResultsPageController" ng-app="VotingApp">
    <div>
        <h2>
            <span>Winner</span>
            <!-- <span data-bind="text: winners().length > 1 ? 's (Draw)' : ''"></span>-->:
            <span>Lorem Ipsum</span>
        </h2>
    </div>

    <div id="results-chart"></div>

    <br />

    <div class="flexbox">
        <a class="btn info-btn centered" ng-href="{{votingLink}}">Get Voting</a>
    </div>
</div>
