<div ng-controller="ResultsPageController" ng-app="VotingApp">
    <div class="flexbox">
        <span id="winner-label" class="centered"><b>Winner{{plural}}:</b> {{winner}}</span>
    </div>

    <div id="results-chart"></div>

    <br />

    <div class="flexbox">
        <a class="btn inactive-btn centered" ng-href="{{votingLink}}">Get Voting</a>
    </div>
</div>
