@Styles.Render("~/Bundles/VotingStyle")
<div ng-controller="ResultsPageController" ng-app="GVA.Voting">
    <div poll-heading></div>
    <div class="flexbox">
        <span ng-if="voteCount > 0" id="winner-label" class="centered"><b>Winner{{plural}}:</b> {{winner}}</span>
        <span ng-if="voteCount == 0">No votes have currently been cast for this poll</span>
    </div>

    <div  id="results-chart"></div>

    <br />

    <div class="flexbox">
        <a class="btn inactive-btn centered" ng-href="{{votingLink}}">Get Voting</a>
    </div>
</div>
