@Styles.Render("~/Bundles/DateTimePickerStyle")
<div class="dt-time-picker">
    <div class="dt-adjust-bar">
        <span class="fa fa-chevron-up dtp-clickable dt-hour-adjust" aria-hidden="true" ng-click="moveHour(1)"></span>
        <span class="fa fa-chevron-up dtp-clickable dt-minute-adjust" aria-hidden="true" ng-click="moveMinute(5)"></span>
    </div>
    <div class="dt-time-display">{{formatTime()}}</div>
    <div class="dt-adjust-bar">
        <span class="fa fa-chevron-down dtp-clickable dt-hour-adjust" aria-hidden="true" ng-click="moveHour(-1)"></span>
        <span class="fa fa-chevron-down dtp-clickable dt-minute-adjust" aria-hidden="true" ng-click="moveMinute(-5)"></span>
    </div>
</div>
