<div ng-controller="UpDownVoteController" ng-app="GVA.Voting" class="voting-area">

    <p ng-if="poll.Choices.length > 0">
        Select if you are for or against each choice.
    </p>
    <p ng-if="poll.Choices.length == 0">This poll has no choices.</p>

    <div class="choice-area">

        <div ng-repeat="choice in poll.Choices">
            <div class="choice-block">
                <div class="choice-block-row">
                    <div class="choice-buttons">
                        <span class="btn-group-updown">
                            <button class="inactive-btn pull-left" ng-class="{'active-btn': choice.voteValue==-1}" ng-click="(choice.voteValue=(choice.voteValue!=-1?-1:0))">
                                <span class="fa fa-thumbs-o-down" aria-hidden="true"></span>
                            </button>
                            <button class="inactive-btn pull-right" ng-class="{'active-btn': choice.voteValue==1}" ng-click="(choice.voteValue=(choice.voteValue!=1?1:0))">
                                <span class="fa fa-thumbs-o-up" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                    <strong>{{choice.Name}}</strong>
                </div>
                <div ng-if="choice.Description" class="choice-block-row">
                    <span truncated-text ng-model="choice.Description" max-chars="60" class="choice-description"></span>
                </div>
            </div>
            <hr />
        </div>

        <div ng-show="poll.ChoiceAdding">
            <p>
                <button id="add-choice-link" class="active-btn icon-padded-left clickable" ng-click="addChoice()">Add a choice</button>
            </p>
        </div>

        <p ng-show="!poll.ChoiceAdding && poll.Choices.length == 0">Hopefully the poll creator will add some soon.</p>

    </div>
    <div class="flexbox" ng-show="poll.Choices.length > 0">
        <button id="vote-button" class="active-btn btn-medium centered" ng-click="submitVote(poll.Choices)">Vote</button>
    </div>
</div>