<div ng-controller="VotingPageController" ng-app="GVA.Voting">
    <poll-heading gva-expired-callback="gvaExpiredCallback()"></poll-heading>
    <div id="current-user" ng-show="identityName">
        Voting as: {{identityName}}
        <button id="not-user-btn" class="btn inactive-btn" ng-click="logoutIdentity()">Not {{identityName}}?</button>
    </div>
    <div voting-strategy></div>
    <div class="flexbox spaced-bottom">
        <div class="btn error-btn clickable centered" ng-click="clearVote()">Clear vote</div>
    </div>
    <div class="flexbox">
        <div class="btn inactive-btn clickable centered" ng-click="navigateToResultsPage()">Go to results</div>
    </div>
</div>
