<div ng-controller="VotingPageController" ng-app="GVA.Voting">
    <poll-heading gva-expired-callback="gvaExpiredCallback()"></poll-heading>
    <div id="current-user" ng-show="identityName">
        Voting as: {{identityName}}
        <button id="not-user-btn" class="btn inactive-btn" ng-click="logoutIdentity()">Not {{identityName}}?</button>
    </div>
    <div voting-strategy></div>
    <div class="flexbox">
        <div class="centered">
            <a class="btn inactive-btn" ng-href="{{resultsLink}}">Go to results</a>
            <a class="btn error-btn clickable" ng-click="clearVote()">Clear vote</a>
        </div>
    </div>
</div>
