<div ng-controller="VotingPageController" ng-app="VotingApp">
    <div id="current-user" ng-show="accountName">
        Voting as: {{accountName}}
        <button id="not-user-btn" class="btn info-btn">Not {{accountName}}?</button>
    </div>
    <div voting-strategy></div>
    <div class="flexbox">
        <a class="btn info-btn centered" href="/#/results">See Results</a>
    </div>
</div>
