<div ng-controller="VotingPageController" ng-app="VotingApp">
    <div id="current-user">
        Voting as: Joe Bloggs
        <button id="not-user-btn" class="btn info-btn">Not Joe Bloggs?</button>
    </div>
    <div style="width:400px; height: 400px; background-color:lightgray">Voting partial content goes here</div>
    <div class="flexbox">
        <a class="btn info-btn centered" href="/#/results">See Results</a>
    </div>
</div>
