<div ng-controller="VotingPageController" ng-app="VotingApp">
    <div id="current-user">
        Voting as: Joe Bloggs
        <button id="not-user-btn" class="btn info-btn">Not Joe Bloggs?</button>
    </div>
    <div voting-strategy></div>
    <div class="flexbox">
        <a class="btn info-btn centered" ng-href="{{resultsLink}}">See Results</a>
    </div>
</div>
