<div layout="row">

    <div flex-gt-md="30"
         flex-md="50"
         flex-sm="90"
         offset-gt-md="35"
         offset-md="25"
         offset-sm="5">

        <md-content layout="column" layout-align="center center" layout-padding>
            <h1 class="md-display-2">Uh oh</h1>
            <h3 class="md-headline">Something went wrong...</h3>
            <img src="/Static/Images/tbservers.png" style="max-width:100%;max-height:100%;" />
        </md-content>

    </div>
</div>