<div layout="row" ng-controller="RegistrationCompleteController">

    <div flex-gt-md="30"
         flex-md="50"
         flex-sm="90"
         offset-gt-md="35"
         offset-md="25"
         offset-sm="5">

        <h1 class="md-display-3">Registration complete</h1>

        <md-content>
            <h2>
                Thank you for registering!
            </h2>
            <p>
                We've sent a confirmation email to {{emailAddress}}.
                <br />
                If you don't see it email, please check your spam folder, or click below to resend the confirmation email.
            </p>

            <div>
                <div ng-hide="confirmationResent" layout layout="column" layout-align="space-around center">
                    <md-progress-linear md-mode="indeterminate" ng-show="isSending"></md-progress-linear>
                    <md-button class="md-primary md-raised" ng-click="resendConfirmation()" ng-disabled="isSending">
                        Resend Confirmation Email
                    </md-button>
                </div>
                <div ng-hide="!confirmationResent">
                    <span>A confirmation email has been resent to {{emailAddress}}</span>
                </div>
            </div>
        </md-content>

    </div>
</div>
