<label>
    Points remaining:
</label>
<div class="progress" id="progress-bar">
    <div data-bind="text: $root.pointsRemaining(), style: { width: $root.percentRemaining() + '%'}"  class="progress-bar" role="progressbar"></div>
</div>

<table id="optionTable" class="table table-hover">
    <thead>
        <tr>
            <th class="col-xs-6 col-md-3">Option</th>
            <th class="hidden-xs col-md-3">Description</th>
            <th class="hidden-xs hidden-sm col-md-3">More info</th>
            <th class="col-xs-6 col-md-3">Vote</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: options">
        <tr>
            <td data-bind="text: Name"></td>
            <td class="hidden-xs" data-bind="text: Description"></td>
            <td class="hidden-xs hidden-sm" data-bind="text: Info"></td>
            <td>
                <span class="btn-group">
                    <button class="btn btn-primary pull-left" data-bind="click: $parent.decreaseVote">-</button>
                    <label class="points-label" data-bind="text: $root.pointsArray()[$index()] + '/' + $root.maxPerVote()"></label>
                    <button class="btn btn-primary pull-right" data-bind="click: $parent.increaseVote">+</button>
                </span>
            </td>
        </tr>
    </tbody>
    <tr id="newOptionRow" data-bind="visible: optionAdding">
        <td>
            <input class="form-control input-block" id="newName" placeholder="Name" />
        </td>
        <td>
            <input class="form-control input-block" id="newDescription" placeholder="Description" />
        </td>
        <td class="hidden-xs hidden-sm">
            <input class="form-control input-block" id="newInfo" placeholder="More Info" />
        </td>
        <td>
            <button type="submit" class="btn btn-primary" data-bind="click: $root.addOption.bind()">Add</button>
        </td>
    </tr>
    <tr>
        <td colspan="4" style="text-align:center">
            <button class="btn btn-primary" data-bind="click: doVote">Submit</button>
        </td>
    </tr>
</table>
