<thead>
    <tr>
        <th>Option</th>
        <th>Description</th>
        <th class="hidden-xs hidden-sm">More info</th>
        <th style="width:20%">Vote</th>
    </tr>
</thead>
<tbody data-bind="foreach: options">
    <tr>
        <td data-bind="text: Name"></td>
        <td data-bind="text: Description"></td>
        <td class="hidden-xs hidden-sm" data-bind="text: Info"></td>
        <td>
            <span class="btn-group">
                <button class="btn btn-primary pull-left" data-bind="click: $parent.decreaseVote" disabled>-</button>
                <label class="points-label">0</label>
                <button class="btn btn-primary pull-right" data-bind="click: $parent.increaseVote">+</button>
            </span>
        </td>
    </tr>
</tbody>