<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Options</h2>
    </div>
    <table id="optionTable" class="table table-hover sortable">
        <thead>
            <tr>
                <th class="col-md-3">Option</th>
                <th class="col-md-6">Description</th>
                <th class="col-md-3 hidden-xs hidden-sm">More info</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: options">
            <tr class="clickable" data-bind="attr: {'data-id': Id}">
                <td class="col-md-3" data-bind="text: Name"></td>
                <td class="col-md-6" data-bind="text: Description"></td>
                <td class="col-md-3 hidden-xs hidden-sm" data-bind="text: Info"></td>
            </tr>
        </tbody>
        <tr id="newOptionRow" data-bind="visible: optionAdding">
            <td>
                <input class="form-control input-block" id="newName" placeholder="Name" />
            </td>
            <td>
                <input class="form-control input-block" id="newDescription" placeholder="Description" />
            </td>
            <td class="hidden-xs hidden-sm">
                <input class="form-control input-block" id="newInfo" placeholder="More Info" />
            </td>
            <td>
                <button type="submit" class="btn btn-primary" data-bind="click: $root.addOption.bind()">Add</button>
            </td>
        </tr>
    </table>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Selection</h2>
    </div>
    <table id="selectionTable" class="table table-hover sortable selection-content">
        <thead>
            <tr data-bind="visible: $root.selectedOptions().length == 0">
                <th colspan="3">Drag options here in preference order</th>
            </tr>
            <tr>
                <th class="col-md-3">Option</th>
                <th class="col-md-6">Description</th>
                <th class="col-md-3 hidden-xs hidden-sm">More info</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<button class="btn btn-primary" data-bind="click: $root.doVote, enable: $root.selectedOptions().length > 0">Submit Vote</button>
