<!DOCTYPE html>
<html ng-app="VoteOn">
<head>
    <title>Vote On</title>
    <meta name="viewport" content="initial-scale=1">

    <!-- Angular Material CSS now available via Google CDN; version 0.10 used here -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">

</head>
<body>
    @*<div layout="column">

            <div layout="row" layout-align="center center">

                <div layout="column" flex-gt-sm="20"></div>

                <div layout="column" flex-gt-sm="60" flex-sm="100">

                    <div layout="column">

                        <div layout="row">

                            <div layout="column" flex="10"></div>
                            <div layout="column" flex="80">

                            </div>
                            <div layout="column" flex="10"></div>

                        </div>


                    </div>

                </div>


            </div>

            <div flex="25"></div>

        </div>*@

    <div layout="column" layout-align="center center" layout-fill>

        <div layout="row" layout-fill>

            <div flex="50" offset="25">

                <md-input-container>
                    <label>Question</label>
                    <input type="text" required>
                </md-input-container>

                <div layout="row" layout-wrap>

                    <md-input-container flex="50">
                        <label>Choice 1</label>
                        <input type="text">
                    </md-input-container>

                </div>

                <div layout="row" layout-align="start start">
                    <md-button class="md-raised md-primary">Create</md-button>
                </div>

            </div>

        </div>

    </div>



    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>


    <!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>

    @Scripts.Render("~/Bundles/Script")
</body>
</html>