@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css";
@import "https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css";
@import "//cdnjs.cloudflare.com/ajax/libs/insightjs/1.3.0/insight.min.css";
@import "Lib/bootstrap-datetimepicker.min.css";

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.centered {
    text-align: center;
}

h4 {
    font-weight: bold;
}

.warning {
    color: red;
    font-weight: bold
}

input, select, textarea {
    margin-bottom: 15px;
    width: 100%;
    border-width: 1px;
    max-width: 100%;
    margin-top: 0px !important;
}

label {
    margin-bottom: 0px;
    padding-left: 12px;
}

label.info-message {
    font-size: small;
    position: relative;
    top: -15px;
}

.help-message {
    padding-left: 5px;
}

.required-label {
    color: red;
    padding-left: 2px;
}

.clickable {
    cursor: pointer;
}

.accordion-group {
    margin: 0px;
    border-radius: 0px;
    border-style:none;
}

.accordion-heading {
    border-radius: 0px;
}

/* To stop the option caption being selectable. Surprised Knockout doesn't already do this. */
.select-placeholder option:first-child {
    display: none;
}

.error {
    border-color: red;
    border-width: 2px;
}

.error-message {
    font-size: small;
    color: red;
    position: relative;
    top: -15px;
}

.text-center {
    margin-bottom: 20px;
}

.points-label {
    display: inline;
    font-size: 24px;
    margin: 10px;
    padding-left: 0px;
}

.progress {
    margin:0px 12px
}

.progress-bar {
    min-width: 30px;
}

.checkbox-inline {
    float:right; 
    width:10%; 
    margin-bottom: 20px !important;
}

.form-group {
    min-height: 20px;
}

#reset-votes, #save-options-as {
    width: 150px;
    height: 40px;
}

#delete-vote-row {
    align-content: flex-end;
}

#accordion {
    overflow: hidden;
    border-radius: 10px;
    border-width: 1px;
    border-color: #ddd;
    border-style: solid;
}

#tabBar {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#chat-panel {
    margin-top:20px;
}

.navbar-nav {
    float: left;
    margin: 0;
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-tabs .active, .tab-pane.active {
    opacity: 1;
}

.signinButton {
    padding: 0px;
    margin: 0px;
    border-style: hidden;
    background-color: transparent;
}

.signinButton > img {
    width:200px;
}

#template-group {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.affirmative {
    color: green;
}

.negative {
    color: red;
}

@media (min-width: 768px) {
    .divider {
        border-right: 1px solid #ccc;
        height: 150px;
    }
}

#logout-button {
    float: right;
}

#chart-buttons, #chart-toggle {
    text-align:center;
}

/* InsightJS things */
.annotationsclass {
    fill: red !important;
    fill-opacity: 0.3 !important;
}

.series-0 {
    fill: #034e7b;
}
.series-1 {
    fill: #037b4e;
}
.series-2 {
    fill: #b00570;
}
.series-3 {
    fill: #7b4e03;
}
.series-4 {
    fill: #0570b0;
}
.series-5 { 
    fill: #70b005;
}
.series-6 {
    fill: #cf74a9;
}
.series-7 {
    fill: #081d58;
}
.series-8 {
    fill: #08581d;
}
.series-9 {
    fill: #58081d;
}
.series-10 {
    fill: #74a9cf;
}
.series-11 {
    fill: #74cfa9;
}

/* tooltips */
.tip {
	background: #fff;
	border: 1px solid #ccc;
	padding: 10px 10px;
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	position: relative;
    display: block;
    width: 320px;
}

