@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css";
@import "//cdnjs.cloudflare.com/ajax/libs/insightjs/1.2.0/insight.min.css";

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

h2 {
    text-align: center;
}

h4 {
    font-weight: bold;
}

input, select, textarea {
    margin-bottom: 15px;
    width: 100%;
    border-width: 1px;
    max-width: 100%;
}

label {
    margin-bottom: 0px;
    width: 100%;
}

    label.info-message {
        font-size: small;
        position: relative;
        top: -15px;
    }

.clickable {
    cursor: pointer;
}

.accordion-group {
    margin: 0px;
    border-radius: 0px;
    overflow: hidden;
}

    .accordion-group:first-child {
        border-radius: 10px 10px 0px 0px;
    }

    .accordion-group:last-child {
        border-radius: 0px 0px 10px 10px;
    }

.accordion-heading {
    border-radius: 0px;
}

/* To stop the option caption being selectable. Surprised Knockout doesn't already do this. */
.select-placeholder option:first-child {
    display: none;
}

.error {
    border-color: red;
    border-width: 2px;
}

.error-message {
    font-size: small;
    color: red;
    position: relative;
    top: -15px;
}

.text-center {
    margin-bottom: 20px;
}

.points-label {
    display: inline;
    font-size: 24px;
    margin: 10px;
}

/*.selection-area {
    margin: 3px;
    border-style: dashed;
    border-width: 3px;
    border-radius: 5px;
}*/

#reset-votes, #save-options-as {
    width: 150px;
    height: 40px;
}

#delete-vote-row {
    align-content: flex-end;
}
