<md-list>
    <md-list-item ng-repeat="choice in choices" ng-click="choiceSelected(choice)" class="md-2-line">

        <md-icon md-font-icon="fa-check"
                 class="fa fa-lg"
                 ng-class="{'md-accent': choice.VoteValue === 1}"
                 ng-show="shouldShowSelectedCheck(choice)">
        </md-icon>

        <div class="md-list-item-text" ng-class="{'md-offset': shouldOffsetchoice(choice) }">
            <span>{{choice.Name}}</span>
        </div>

        <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
</md-list>