<div layout="row">

    <div flex-gt-md="30"
         flex-md="50"
         flex-sm="90"
         offset-gt-md="35"
         offset-md="25"
         offset-sm="5">

        <h2 class="md-display-3">Poll unavailable</h2>

        <md-content>
            <h3>
                You are not allowed to access this poll
            </h3>
            <p>
                This poll is by invitation only. To vote on this poll, or see the results, contact the poll creator and ask for an invitation.
            </p>
        </md-content>

    </div>
</div>
