<div layout="row" ng-controller="ResultsController">

    <div flex-gt-md="60" flex-md="80" flex-sm="90"
         offset-gt-md="20" offset-md="10" offset-sm="5">

        <h1 class="md-display-1">Results</h1>

        <md-content layout="column">

            <md-card>

                <loading-spinner loaded="loaded"></loading-spinner>

                <md-card-content ng-cloak ng-if="loaded" flex layout layout-align="center center">
                    <h1 class="md-headline">
                        Winner{{winners.length > 1 ? 's' : ''}}: <span ng-repeat="winner in winners">{{($index > 0 ? ', ' : '') + winner}}</span>
                    </h1>
                </md-card-content>
            </md-card>

            <md-card layout="row">

                <loading-spinner loaded="loaded"></loading-spinner>

                <md-card-content ng-cloak ng-if="loaded" flex>
                    <div google-chart chart="resultsBarChart" flex></div>
                </md-card-content>
            </md-card>

            <md-card flex layout="row">

                <loading-spinner loaded="loaded"></loading-spinner>

                <md-card-content ng-cloak ng-if="loaded" flex>
                    <div results-table result-breakdown="results" flex></div>
                </md-card-content>
            </md-card>

        </md-content>
    </div>
</div>