<div layout="row" ng-controller="VoteController">

    <div flex-gt-md="30"
         flex-md="50"
         flex-sm="90"
         offset-gt-md="35"
         offset-md="25"
         offset-sm="5">

        <md-content>

            <h2>{{poll.Name}}</h2>

            <vote-choice choices="poll.Choices" poll="poll"></vote-choice>

            <div layout layout="row" layout-sm="column" layout-align-gt-sm="end center">
                <md-button class="md-primary md-raised" ng-click="submitVote()">Vote</md-button>
            </div>

        </md-content>
    </div>
</div>