@import url(http://fonts.googleapis.com/css?family=Roboto:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

$Grey400: #BDBDBD;
$Grey600: #757575;
$Black: #000000;
$White: #FFFFFF;

html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    margin: 0px;
    font: normal 12pt 'Open Sans';
}

.center-panel {
    background-color: $White;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.6);
    min-width: 320px;
    align-content: center;
    margin: auto;
    padding: 0px 10px;
    height: 100%;
}

h1, h2, h3, h4 {
    font-weight: bold;
    font-family: Roboto;
}

a {
    text-decoration: none;
}

.btn {
    border-radius: 5px;
    font: bold 12pt Open Sans;
    padding: 5px;
    border-style: solid;
    width: 100px;
    text-align: center;
}

.info-btn {
    @extend .btn;
    background-color: $White;
    border-color: $Grey400;
    border-width: 1px;
    color: $Grey600;
}

:disabled {
    opacity: 0.5
}

.flexbox {
    width: 100%;
    display: flex;
}

.centered {
    margin: auto;
}

hr {
    width: 80%;
    background-color: $Grey400;
    border-style: none;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#footer {
    position: absolute;
    bottom: 0px;
    height: 30px;
    background-color: $White;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clear {
    clear: both;
}

.form-input {
    border-radius: 5px;
    font-size: 12pt;
    padding: 5px;
    border: 1px solid $Grey600;
    line-height: 21px;
}

.ngdialog-content {
    max-width: 320px !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

