<md-list>
    <div ng-repeat="result in resultBreakdown">
        <md-list-item ng-click="toggleResult(result.ChoiceNumber)">
            <md-icon ng-if="!isToggled(result.ChoiceNumber)" md-font-icon="fa-chevron-right" class="fa" alt="chevron-right"></md-icon>
            <md-icon ng-if="isToggled(result.ChoiceNumber)" md-font-icon="fa-chevron-down" class="fa" alt="chevron-down"></md-icon>
            <p>{{result.ChoiceName}}</p>
            <md-divider></md-divider>
        </md-list-item>
        <div ng-if="isToggled(result.ChoiceNumber)">
            <md-list-item ng-repeat="voter in result.Voters">
                <p>
                    {{voter.Name ? voter.Name : 'Anonymous User'}}
                </p>
                <p>
                    {{voter.Value}} {{voter.Value === 1 ? voteTypeName : voteTypeName + 's'}}
                </p>
            </md-list-item>
        </div>

    </div>
</md-list>
