<div class="page-header">
    <h2 class="centered">
        Get Polling!
    </h2>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <h3 class="centered">Sign In</h3>
        <form>
            <div id="poll-creator-group" class="form-group">
                <label class="control-label" for="username">Email</label>
                <input class="form-control" id="username" placeholder="E.g. email@example.com" data-bind="value: username" />
            </div>
            <span class="error-message" id="bad-credentials" hidden>Email or password is incorrect</span>
            <div id="poll-creator-group" class="form-group">
                <label class="control-label" for="password">Password</label>
                <input type="password" class="form-control" id="password" data-bind="value: password" />
            </div>
            <div class="centered">
                <button class="btn btn-primary" type="submit" data-bind="click: signin.bind()">Sign In</button>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <h3 class="centered">Register</h3>
        <form>
            <div id="poll-creator-group" class="form-group">
                <label class="control-label" for="new-username">Email</label>
                <br />
                <input class="form-control" id="new-username" placeholder="E.g. email@example.com" data-bind="value: newUsername" />
            </div>
            <span class="error-message" id="invalid-username" hidden>Must be a valid email</span>
            <span class="error-message" id="duplicate-username" hidden>Email is already in use</span>
            <div id="poll-creator-group" class="form-group">
                <label class="control-label" for="new-password">Password</label>
                <input type="password" class="form-control" id="new-password" data-bind="value: newPassword" />
            </div>
            <span class="error-message" id="password-length" hidden>Password must be at least 6 characters</span>
            <span class="error-message" id="password-format" hidden>Password must contain uppercase, lowercase, digits and punctuation</span>
            <div id="poll-creator-group" class="form-group">
                <label class="control-label" for="confirm-password">Confirm Password</label>
                <input type="password" class="form-control" id="confirm-password" data-bind="value: confirmPassword" />
            </div>
            <span class="error-message" id="different-password" hidden>Passwords do not match</span>
            <div class="centered">
                <button class="btn btn-primary" type="submit" data-bind="click: register.bind()">Register</button>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

@section scripts
{
    <script type="text/javascript">
        require(["/Scripts/Signin.js"], function (SigninViewModel) {
            new SigninViewModel();
        });
    </script>
}
