<div class="vo-dp-picker">
    <md-whiteframe class="md-whiteframe-z1" layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span>{{formatModelDate()}}</span>
                </h2>
            </div>
        </md-toolbar>
        <md-content layout="row" layout-wrap>
            <md-content flex="50" class="vo-dp-calendar" layout-padded>
                <div layout="column">
                    <div class="vo-dp-calendar-month vo-dp-centered-text">
                        <h3 class="md-title">
                            <md-button ng-click="advanceDisplayDate(-1)" aria-label="back one month"><md-icon md-font-icon="fa-chevron-left" class="fa icon-padded-top" alt="chevron-left"></md-icon></md-button>
                            {{displayMonth}}
                            <md-button ng-click="advanceDisplayDate(1)" aria-label="foward one month"><md-icon md-font-icon="fa-chevron-right" class="fa icon-padded-top" alt="chevron-left"></md-icon></md-button>
                        </h3>
                    </div>
                    <div layout="row">
                        <div ng-repeat="weekday in weekdays" class="vo-dp-calendar-cell">
                            <div class="vo-dp-calendar-cell-content">{{weekday}}</div>
                        </div>
                    </div>
                    <div layout="column">
                        <div layout="row" ng-repeat="row in calendarRows">
                            <md-content ng-repeat="dateCell in row"
                                        ng-class="{'inert' : !dateCell.inMonth, 'selected' : dateCell.selected}"
                                        ng-click="selectDate(dateCell.date)"
                                        class="vo-dp-calendar-cell date-cell" md-ink-ripple="#FFF">
                                <div class="vo-dp-calendar-cell-content">
                                    {{dateCell.dayOfMonth}}
                                </div>
                            </md-content>
                        </div>
                    </div>
                </div>
            </md-content>
            <md-content flex="50" class="vo-dp-time" layout="row" layout-align="center center" layout-padded>
                <div layout="column">
                    <div>
                        <md-button ng-click="advanceHour(1)" aria-label=" increase hour">
                            <md-icon md-font-icon="fa-chevron-up" class="fa icon-padded-top" alt="chevron-up"></md-icon>
                        </md-button>
                    </div>
                    <div><div class="md-display-3 vo-dp-centered-text">{{hours}}</div></div>
                    <div>
                        <md-button ng-click="advanceHour(-1)" aria-label=" decrease hour">
                            <md-icon md-font-icon="fa-chevron-down" class="fa icon-padded-top" alt="chevron-down"></md-icon>
                        </md-button>
                    </div>
                </div>
                <div layout="column">
                    <div>
                        <md-button ng-click="advanceMinute(1)" aria-label="increase minute">
                            <md-icon md-font-icon="fa-chevron-up" class="fa icon-padded-top" alt="chevron-up"></md-icon>
                        </md-button>
                    </div>
                    <div><div class="md-display-3 vo-dp-centered-text">{{minutes}}</div></div>
                    <div>
                        <md-button ng-click="advanceMinute(-1)" aria-label="decrease minute">
                            <md-icon md-font-icon=" fa-chevron-down" class="fa icon-padded-top" alt="chevron-down"></md-icon>
                        </md-button>
                    </div>
                </div>
            </md-content>
        </md-content>
        <md-toolbar>
            <div class="md-toolbar-tools" layout="row" layout-align="end center">
                <h2>
                    <span><md-button ng-click="selectNow()">Now</md-button></span>
                </h2>
            </div>
        </md-toolbar>
    </md-whiteframe>
</div>
