<div class="col-md-4 col-sm-2"></div>
<div class="col-md-4 col-sm-8">
    <div class="page-header">
        <h2>Create a Poll</h2>
    </div>
    <form id="poll-create-form">
        <div id="poll-name-group" class="form-group">
            <label class="control-label" for="poll-name">Poll Name<span class="required-label">*</span></label>
            <input class="form-control" id="poll-name" placeholder="E.g. 2015 Elections" required />
        </div>

        <div id="poll-creator-group" class="form-group">
            <label class="control-label" for="poll-creator">Creator Name<span class="required-label">*</span></label>
            <input class="form-control" id="poll-creator" placeholder="E.g. John Smith" required />
        </div>

        <div id="email-group" class="form-group">
            <label class="control-label" for="email">Creator Email</label>
            <input class="form-control" type="email" id="email" placeholder="E.g. email@example.com" pattern="[\w._%+-]+@\w+(\.\w+)+">
        </div>

        <div id="invites-group" class="form-group">
            <label class="control-label" for="invites">Invitations (one per line)</label>
            <textarea cols=40 rows=3 class="form-control" id="invites" placeholder="E.g. email@example.com" />
        </div>

        <div id="invite-group" class="form-group">
            <label class="control-label checkbox-label" for="invite-only">Invite only</label>
            <input class="checkbox-inline" type="checkbox" id="invite-only">
        </div>

        <div id="anonymous-voting-group" class="form-group">
            <label class="control-label checkbox-label" for="anonymous-voting">Anonymous Voting</label>
            <input class="checkbox-inline" type="checkbox" id="anonymous-voting">
        </div>

        <div id="template-group" class="form-group">
            <label class="control-label" for="template">Poll Template</label>
            <select class="form-control select-placeholder" id="template" data-bind="options:templates, optionsText:'Name', optionsValue:'Id', optionsCaption:'Select a template..'"></select>
        </div>

        <div id="strategy-group" class="form-group">
            <label class="control-label" for="voting-strategy">Vote type<span class="required-label">*</span></label>
            <select class="form-control" id="voting-strategy" data-bind="value: selectedStrategy">
                <option value="Basic">Single Vote</option>
                <option value="Ranked">Ranked Vote</option>
                <option value="Points">Points-weighted Vote</option>
            </select>
        </div>

        <div id="max-points-group" data-bind="visible: selectedStrategy() == 'Points'" class="form-group">
            <label class="control-label" for="max-points">Max points</label>
            <input class="form-control" id="max-points" placeholder="7" />
        </div>

        <div id="points-per-vote-group" data-bind="visible: selectedStrategy() == 'Points'" class="form-group">
            <label class="control-label" for="max-per-vote">Max points per vote</label>
            <input class="form-control" id="max-per-vote" placeholder="3" />
        </div>

        <button id="poll-create-btn" class="btn btn-primary" type="submit" data-bind="click: $root.createPoll.bind()">Create Poll</button>
    </form>
</div>
<div class="col-md-4 col-sm-2"></div>
