<div class="col-md-4 col-sm-2"></div>
<div class="col-md-4 col-sm-8">
    <div class="page-header">
        <h2>Create a Poll</h2>
    </div>
    <form id="poll-create-form">
        <div id="poll-name-group">
            <label class="control-label" for="poll-name">Poll Name<span class="required-label">*</span></label>
            <input class="form-control" id="poll-name" placeholder="E.g. 2015 Elections" required />
        </div>
        
        <div id="poll-creator-group">
            <label class="control-label" for="poll-creator">Creator Name<span class="required-label">*</span></label>
            <input class="form-control" id="poll-creator" placeholder="E.g. John Smith" required />
        </div>

        <div id="email-group">
            <label class="control-label" for="email">Creator Email</label>
            <input class="form-control" type="email" id="email" placeholder="E.g. email@example.com" pattern="[\w._%+-]+@\w+(\.\w+)+">
        </div>

        <div id="invites-group">
            <label class="control-label" for="invites">Invitations (one per line)</label>
            <textarea cols=40 rows=3 class="form-control" id="invites" placeholder="E.g. email@example.com"/>
        </div>

        <div id="template-group">
            <label class="control-label" for="template">Poll Template</label>
            <select class="form-control select-placeholder" id="template" data-bind="options:templates, optionsText:'Name', optionsValue:'Id', optionsCaption:'Select a template..'"></select>
        </div>

        <div id="strategy-group">
            <label class="control-label" for="voting-strategy">Vote type<span class="required-label">*</span></label>
            <select class="form-control" id="voting-strategy">
                <option value="Basic">Single Vote</option>
                <option value="Ranked">Ranked Vote</option>
                <option value="Points">Points-weighted Vote</option>
            </select>
        </div>

        <button id="poll-create-btn" class="btn btn-primary" type="submit" data-bind="click: $root.createPoll.bind()">Create Poll</button>
    </form>
</div>
<div class="col-md-4 col-sm-2"></div>
