<h3>Single Vote <small>(First Past The Post)</small></h3>

<ul>
    <li>You can vote for just one option.</li>
    <li>You can change your vote however many times you want.</li>
    <li>The option with the most votes is the winner.</li>
</ul>

<h3>Points Based Vote</h3>

<ul>
    <li>You have X number of votes to distribute over the options.</li>
    <li>Each option can be voted for Y number of times.</li>
    <li>You can change the distribution of your votes however many times you want.</li>
    <li>The option with the most votes is the winner.</li>
</ul>

<h3>Ranked Vote <small>(Instant Runoff)</small></h3>

<ul>
    <li>You may select any number of votes and arrange them by preference.</li>
    <li>The top option is considered your primary preference.</li>
    <li>You can change the your preferences however many times you want.</li>
    <li>The result is decided by multiple rounds of elimination.</li>
    <li>Each round, the option with the lowest number of votes is eliminated and it's votes redistributed based on preference.</li>
    <li>The option with a majority will be declared the winner.</li>
</ul>