<div class="jumbotron">
    <h1>Lunchtime Voting</h1>
</div>
<div class="row">
    <div id="sessions" hidden>
        <div class="col-xs-4"></div>
        <div class="col-xs-4 centered">
            <label for="session-select">Session</label>
            <br />
            <select id="session-select" data-bind="options: sessions, optionsText: 'Name', optionsValue: 'Id'" style="width:100%"></select>
            <br />
            <br />
            <button type="submit" class="btn btn-primary" data-bind="click: $root.submitSession.bind()">Go</button>
        </div>
        <div class="col-xs-4"></div>
    </div>
    <div id="login-box" hidden>
        <div class="col-xs-4"></div>
        <div class="col-xs-4 centered">
                <label for="Name">Username</label>
                <input id="Name" class="form-control" />
                <br />
                <button id="Name-submit" type="submit" class="btn btn-primary">Login</button>
        </div>
        <div class="col-xs-4"></div>
    </div>
    <div id="vote-table" hidden>
        <div class="col-xs-3"></div>
        <div class="col-xs-6 centered">
            <table id="inner-vote-table" class="table table-hover">
                <thead>
                    <tr>
                        <th>Restaurant</th>
                        <th>Description</th>
                        <th>More info</th>
                        <th>Vote</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: options">
                    <tr>
                        <td data-bind="text: Name"></td>
                        <td data-bind="text: Description"></td>
                        <td data-bind="text: Info"></td>
                        <td><button data-bind="click: $parent.doVote.bind()">Vote</button></td>
                    </tr>
                </tbody>
                <tr id="newOptionRow">
                    <td><input id="newName" placeholder="Restaurant" /></td>
                    <td><input id="newDescription" placeholder="Description" /></td>
                    <td><input id="newInfo" placeholder="More Info" /></td>
                    <td><button data-bind="click: $root.addOption.bind()">Add Option</button></td>
                </tr>
            </table>
        </div>
        <div class="col-xs-3"></div>
    </div>
</div>