<div class="jumbotron">
    <h1>Lunchtime Voting</h1>
</div>
<div class="row">
    <table>
        <thead>
            <tr>
                <th>Restaurant</th>
                <th>Description</th>
                <th>More info</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: options">
            <tr>
                <td data-bind="text: Name"></td>
                <td data-bind="text: Description"></td>
                <td data-bind="text: Info"></td>
            </tr>
        </tbody>
    </table>
</div>
