<div layout="row" ng-controller="ConfirmStepController">

    <div flex-gt-md="60" flex-md="80" flex-sm="90"
         offset-gt-md="20" offset-md="10" offset-sm="5">

        <h1 class="md-display-3">Confirm</h1>

        <md-content layout-padding>

            <md-list>
                <md-list-item class="md-3-line" ng-click="goToQuestionStep()" aria-label="Poll Question">

                    <md-icon ng-if="questionIsValid()" md-font-icon="fa-check" class="fa md-primary fa-2x" alt="check"></md-icon>
                    <md-icon ng-if="!questionIsValid()" md-font-icon="fa-exclamation-circle" class="fa vo-error-text fa-2x" alt="exclamation circle"></md-icon>
                    <div class="md-list-item-text">
                        <div ng-if="newPoll.PollName">
                            <h3>{{newPoll.PollName}}</h3>
                            <p>This is what the voters will be asked.</p>
                        </div>
                        <div ng-if="!newPoll.PollName">
                            <h3>Unnamed Poll</h3>
                            <p class="vo-error-text">Your poll needs to ask a question.</p>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
                <md-list-item class="md-3-line" ng-click="goToQuestionStep()" aria-label="Choices">

                    <md-icon ng-if="choicesAreValid()" md-font-icon="fa-check" class="fa md-primary fa-2x" alt="check"></md-icon>
                    <md-icon ng-if="!choicesAreValid()" md-font-icon="fa-exclamation-triangle" class="fa vo-warn-text fa-2x" alt="exclamation triangle"></md-icon>

                    <div class="md-list-item-text">
                        <div>
                            <h3>{{getNonEmptyChoices().length}} Choices</h3>

                            <p ng-if="newPoll.ChoiceAdding">Voters may add their own choices.</p>
                            <p ng-if="!newPoll.ChoiceAdding">Voters may not add their own choices.</p>

                            <p ng-if="!getNonEmptyChoices().length && !newPoll.ChoiceAdding" class="vo-warn-text">There are no choices to be voted on.</p>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
                <md-list-item class="md-3-line" ng-click="goToStyleStep()" aria-label="Poll Type">

                    <md-icon ng-if="styleIsValid()" md-font-icon="fa-check" class="fa md-primary fa-2x" alt="check"></md-icon>
                    <md-icon ng-if="!styleIsValid()" md-font-icon="fa-exclamation-triangle" class="fa vo-warn-text fa-2x" alt="exclamation triangle"></md-icon>

                    <div class="md-list-item-text" ng-switch="newPoll.PollType">
                        <div ng-switch-when="Basic">
                            <h3>Basic Vote</h3>
                            <p>Voters may vote on one choice.</p>
                        </div>
                        <div ng-switch-when="Multi">
                            <h3>Multi Vote</h3>
                            <p> Voters may vote on any number of choices.</p>
                        </div>
                        <div ng-switch-when="UpDown">
                            <h3>Up / Down Vote</h3>
                            <p> Voters may give one positive or negative vote to each choice.</p>
                        </div>
                        <div ng-switch-when="Points">
                            <h3>Points Vote</h3>
                            <p>Voters may allocate a pool of points amongst the choices with an upper limit on each choice.</p>
                        </div>

                        <p ng-if="newPoll.NamedVoting">Voters must give a name when voting.</p>

                        <p ng-if="newPoll.ElectionMode">Voters may only vote once and can not view poll results before voting.</p>

                    </div>
                    <md-divider></md-divider>
                </md-list-item>
                <md-list-item class="md-3-line" ng-click="goToExpiryStep()" aria-label="Expiry Date/Time">

                    <md-icon ng-if="expiryIsValid()" md-font-icon="fa-check" class="fa md-primary fa-2x" alt="check"></md-icon>
                    <md-icon ng-if="!expiryIsValid()" md-font-icon="fa-exclamation-triangle" class="fa vo-warn-text fa-2x" alt="exclamation triangle"></md-icon>

                    <div class="md-list-item-text">

                        <div ng-if="newPoll.ExpiryDate">
                            <h3 hide-gt-sm>{{formatPollExpiry('YYYY/MM/DD - HH:mm')}}</h3>
                            <h3 hide-sm>{{formatPollExpiry('dddd, Do MMMM YYYY, HH:mm')}}</h3>
                            <p>Your poll will expire and close. Voters won't be able to vote after this time.</p>
                        </div>

                        <div ng-if="!newPoll.ExpiryDate">
                            <h3>Continuous poll</h3>
                            <p>Your poll won't expire.</p>
                        </div>

                        <p ng-if="expiryDateIsInPast()" class="vo-warn-text">
                            Your poll expiry date is in the past. This will cause it to immediately close.
                        </p>

                    </div>
                    <md-divider></md-divider>
                </md-list-item>
                <md-list-item class="md-3-line" ng-click="goToInvitationStep()" aria-label="Invitation">

                    <md-icon ng-if="invitationsAreValid()" md-font-icon="fa-check" class="fa md-primary fa-2x" alt="check"></md-icon>
                    <md-icon ng-if="!invitationsAreValid()" md-font-icon="fa-exclamation-triangle" class="fa vo-warn-text fa-2x" alt="exclamation triangle"></md-icon>

                    <div class="md-list-item-text">
                        @*Maybe need to investigate how many times angular evaluates getValidInvitees().length*@
                        <h3>{{getValidInvitees().length}} Invitation(s)</h3>

                        <p ng-if="getValidInvitees().length > 0">{{getValidInvitees().length}} invitee(s) will be emailed.</p>
                        <p ng-if="getValidInvitees().length == 0">No emails will be sent.</p>

                        <p ng-if="newPoll.InviteOnly">Only those with an invite may vote.</p>
                        <p ng-if="!newPoll.InviteOnly">Anyone with a link to the poll may vote.</p>

                        <p ng-if="getInvalidInvitees().length > 0" class="vo-warn-text">{{getInvalidInvitees().length}} email address(es) are invalid. Emails won't be sent to invitees with an invalid email.</p>

                        <p ng-if="newPoll.InviteOnly && getValidInvitees().length === 0" class="vo-warn-text">Currently no one else will be able to vote.</p>
                    </div>
                </md-list-item>
            </md-list>

        </md-content>

        <md-content layout-padding>

            <div layout="row">
                <md-button ng-hide="loading"
                           ng-disabled="pollHasErrors()"
                           ng-click="loading=!loading;createPoll()"
                           ng-class="{'vo-warn-shaded' : pollHasWarnings() && !pollHasErrors()}"
                           class="md-raised md-primary">
                    Create
                </md-button>
                <md-progress-linear md-mode="indeterminate" ng-show="loading"></md-progress-linear>
            </div>

        </md-content>

    </div>

</div>