<div layout="row" ng-controller="StyleStepController">

    <div flex-gt-md="60" flex-md="80" flex-sm="90"
         offset-gt-md="20" offset-md="10" offset-sm="5">

        <h1 class="md-display-3">Poll Style</h1>

        <md-content layout="row" layout-align="space-around center" layout-wrap layout-padding>
            <div layout="column" layout-align="center center" flex-sm="50" flex-gt-sm="25">
                <md-button ng-class="{'md-primary' : newPoll.PollType=='Basic'}" ng-click="newPoll.PollType='Basic'" aria-label="Basic" class="md-fab">
                    <md-icon md-font-icon="fa-check" class="fa fa-2x" alt="check"></md-icon>
                </md-button>
                <span class="md-title">Basic</span>
            </div>
            <div layout="column" layout-align="center center" flex-sm="50" flex-gt-sm="25">
                <md-button ng-class="{'md-primary' : newPoll.PollType=='Multi'}" ng-click="newPoll.PollType='Multi'" aria-label="Multi" class="md-fab">
                    <md-icon md-font-icon="fa-check-square-o" class="fa fa-2x" alt="check"></md-icon>
                </md-button>
                <span class="md-title">Multi</span>
            </div>
            <div layout="column" layout-align="center center" flex-sm="50" flex-gt-sm="25">
                <md-button ng-class="{'md-primary' : newPoll.PollType=='UpDown'}" ng-click="newPoll.PollType='UpDown'" aria-label="Up/Down" class="md-fab">
                    <md-icon md-font-icon="fa-thumbs-o-up" class="fa fa-2x" alt="check"></md-icon>
                </md-button>
                <span class="md-title">Up/Down</span>
            </div>
            <div layout="column" layout-align="center center" flex-sm="50" flex-gt-sm="25">
                <md-button ng-class="{'md-primary' : newPoll.PollType=='Points'}" ng-click="newPoll.PollType='Points'" aria-label="Points" class="md-fab">
                    <md-icon md-font-icon="fa-tasks" class="fa fa-2x" alt="check"></md-icon>
                </md-button>
                <span class="md-title">Points</span>
            </div>
        </md-content>

        <md-content layout-gt-sm="row" layout-sm="column" layout-align="space-around center" ng-if="newPoll.PollType=='Points'" ng-init="initalisePointsConfig()" layout-padding>

            <md-card layout="column">
                <md-card-content>
                    <h1 class="md-title" layout layout-align="center">Max per Choice</h1>
                    <div layout="row" layout-align="center center">
                        <md-button ng-click="changeMaxPerVote(-1)" aria-label="decrease points per vote">
                            <md-icon md-font-icon="fa-minus" class="fa icon-padded-top" alt="minus"></md-icon>
                        </md-button>
                        {{newPoll.MaxPerVote}}
                        <md-button ng-click="changeMaxPerVote(1)" aria-label="increase points per vote">
                            <md-icon md-font-icon="fa-plus" class="fa icon-padded-top" alt="plus"></md-icon>
                        </md-button>
                    </div>
                </md-card-content>
            </md-card>

            <md-card layout="column">
                <md-card-content>
                    <h1 class="md-title" layout layout-align="center">Max Points</h1>
                    <div layout="row" layout-align="center center">
                        <md-button ng-click="changeMaxPoints(-1)" aria-label="decrease max points">
                            <md-icon md-font-icon="fa-minus" class="fa icon-padded-top" alt="minus"></md-icon>
                        </md-button>
                        {{newPoll.MaxPoints}}
                        <md-button ng-click="changeMaxPoints(1)" aria-label="increase max points">
                            <md-icon md-font-icon="fa-plus" class="fa icon-padded-top" alt="plus"></md-icon>
                        </md-button>
                    </div>
                </md-card-content>
            </md-card>

        </md-content>

        <md-content layout="column" ng-switch="newPoll.PollType" layout-padding>
            <div ng-switch-when="Basic">
                <p>Each voter may vote on exactly one choice.</p>
                <p>Each vote given equal weighting with everybody else's vote.</p>
                <p>Voters can not vote for no choice.</p>
            </div>
            <div ng-switch-when="Multi">
                <p>Each voter may vote on multiple choices.</p>
                <p>Each vote is given equal weighting.</p>
                <p>Voters may decide to not vote for any option.</p>
            </div>
            <div ng-switch-when="UpDown">
                <p>Each voter may assign a positive or negative vote to each choice.</p>
                <p>One negative vote cancels out a negative vote and vice versa.</p>
                <p>Voters may decide to assign neither a positive or negative vote for a choice.</p>
            </div>
            <div ng-switch-when="Points">
                <p>Each voter is given a pool of points from which they need to distribute amongst the choices.</p>
                <p>Each choice has a maximum number of points that can be assigned to it.</p>
                <p>Voters may decide to give no points to a choice.</p>
            </div>
        </md-content>

        <md-divider></md-divider>

        <md-content layout="column">
            <div layout="row">
                <md-checkbox ng-model="newPoll.NamedVoting" aria-label="Voters must give a name to vote">
                    Voters must give a name to vote
                </md-checkbox>
            </div>

            <div layout="row">
                <md-checkbox ng-model="newPoll.ElectionMode" aria-label="Voters may not change their vote">
                    Voters may not change their vote
                </md-checkbox>
            </div>
        </md-content>

        <md-content layout-padding>
            <div layout="row">
                <md-button class="md-raised md-primary" ng-click="advanceToStep(3)">Next <i class="fa fa-chevron-right"></i></md-button>
            </div>
        </md-content>

    </div>

</div>