$Red900: #B71C1C;
$White: #FFFFFF;
$Error: $Red900;

.eb-error-bar-container {
    display: table;

    .eb-error-bar {
        width: 100%;
        position: fixed;
        left: 0px;
        bottom: 0px;

        > .eb-error-bar-text {
            color: $White;
            background-color: $Error;
            margin-left: auto;
            margin-right: auto;
            min-width: 320px;
            width: 50%;
            padding: 5px;
            text-align: center;
        }
    }
}
