$Green500: #4CAF50;
$Red700: #D32F2F;
$Black: #000000;

gva-results-chart {
    display: block;
}

.negative.bar {
    fill: $Red700;
}

.positive.bar {
    fill: $Green500;
}

.axis path,
.axis line {
    fill: none;
    stroke: $Black;
    shape-rendering: crispEdges;
}

.y.axis path,
.y.axis line {
    stroke: none;
}

// Tooltip Styles

.d3-tip
{
    background-color: #333;
    color: #fff;
    padding: 1em;
    font-size: 15px;
    opacity: 0.8;
    transition: 0.2s ease all;
    -webkit-border-radius: 2px;
    -border-radius: 2px;
    -moz-border-radius: 2px;
    font-family: Helvetica, Arial, sans-serif;
}


.d3-tip:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}


.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}