$Green200: #A5D6A7;
$Green500: #4CAF50;
$Green700: #388E3C;
$BlueGrey100: #CFD8DC;
$Grey400: #BDBDBD;
$Grey600: #757575;
$Black: #000000;
$White: #FFFFFF;

// General CSS

html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    margin: 0px;
    font: normal 12pt 'Open Sans';
    background-color: $Green200;
}

h1, h2, h3, h4 {
    font-weight: bold;
    font-family: Roboto;
}

a {
    text-decoration: none;
}

.btn {
    border-radius: 5px;
    font-weight: bold;
    font-size: 12pt;
    padding: 5px;
    border-style: solid;
}

.info-btn {
    @extend .btn;
    background-color: $White;
    border-color: $Grey400;
    border-width: 1px;
    color: $Grey600;
}

.active-btn {
    @extend .btn;
    background-color: $Green500;
    border: 1px solid $Green700;
    font: bold 12pt Open Sans;
    color: $White;
}

:disabled {
    opacity: 0.5
}

.vote-btn {
    @extend .active-btn;
    width: 100px;
}

.flexbox {
    width: 100%;
    display: flex;
}

.centered {
    margin: auto;
}

hr {
    width: 80%;
    background-color: $Grey400;
    border-style: none;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#footer {
    position: absolute;
    bottom: 0px;
    height: 30px;
    background-color: $White;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clear {
    clear: both;
}

// Voting page specific

.center-panel {
    background-color: $White;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.6);
    min-width: 320px;
    align-content: center;
    margin: auto;
    padding: 0px 10px;
    height: 100%;
}

.body-content {
    padding: 0px 20px;
}

#current-user {
    width: 100%;
    display: inline-block;
}

#not-user-btn {
    width: 100px;
    float: right;
}

#expiry-date {
    position: relative;
    top: -20px;
}

.option-block {
    max-width: 300px;
    min-height: 80px;
    padding-top: 5px;

}

// Points-voting specific

.option-text {
    float:left;
    padding-right: 10px;
    max-width: 300px;
}

.option-description {
    float: left;
}

.option-buttons {
    float: right;
}

.option-buttons > * {
    display: block;
    text-align:center;
    width: 100%
}

.btn-group {
    border: 1px solid $Green700;
    border-radius: 5px;
    overflow:hidden;
    margin-bottom: 5px;
    width: 100px;
}

.btn-group > button {
    border-radius: 0px;
    border-width: 0px;
    width: 30px;
}

.points-label {
    float: left;
    padding: 7px 0 0 0;
    width: 40px;
}

.progress {
    background-color: $White;
    border: 1px solid $Green700;
    height:10px;
    border-radius: 4px;
}

.progress-bar {
    transition: width 0.2s ease-out;
    border-width: 0px;
    background-color: $Green500;
    height: 100%;
}

// Basic voting

.action-block {
    display: flex;
    flex-direction: column;

    > .btn {
        margin: 2px;
    }
}
