<form>
    <table id="optionTable" class="table table-hover">
        <thead>
            <tr>
                <th>Option</th>
                <th>Description</th>
                <th class="hidden-xs hidden-sm">More info</th>
                <th>Vote</th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: pollOptions.options -->
            <tr data-bind="css: { success: highlight }">
                <td data-bind="text: Name"></td>
                <td data-bind="text: Description"></td>
                <td class="hidden-xs hidden-sm" data-bind="text: Info"></td>
                <td><button type="button" class="btn btn-primary" data-bind="click: $parent.doVote">Vote</button></td>
            </tr>
            <!-- /ko -->
            <!-- ko with: pollOptions -->
            @Html.Partial("_PollAddOptionPartial")
            <!-- /ko -->
        </tbody>
    </table>
</form>