<label>
    Points remaining:
</label>
<div class="progress" id="progress-bar">
    <div data-bind="text: pointsRemaining(), style: { width: percentRemaining() + '%'}"  class="progress-bar" role="progressbar"></div>
</div>

<form>
    <table id="optionTable" class="table table-hover">
        <thead>
            <tr>
                <th class="col-xs-6 col-md-3">Option</th>
                <th class="hidden-xs col-md-3">Description</th>
                <th class="hidden-xs hidden-sm col-md-3">More info</th>
                <th class="col-xs-6 col-md-3">Vote</th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: pollOptions.options -->
            <tr>
                <td data-bind="text: Name"></td>
                <td class="hidden-xs" data-bind="text: Description"></td>
                <td class="hidden-xs hidden-sm" data-bind="text: Info"></td>
                <td>
                    <span class="btn-group" data-bind="with: $parent.pointsForOption($index())">
                        <button type="button" class="btn btn-primary pull-left"
                                data-bind="click: decreaseVote, enable: canDecrease">-</button>
                        <label class="points-label" data-bind="text: allocationText"></label>
                        <button type="button" class="btn btn-primary pull-right"
                                data-bind="click: increaseVote, enable: canIncrease">+</button>
                    </span>
                </td>
            </tr>
            <!-- /ko -->

            <!-- ko with: pollOptions -->
            @Html.Partial("_PollAddOptionPartial")
            <!-- /ko -->

            <tr>
                <td colspan="4" style="text-align:center">
                    <button type="button" class="btn btn-primary" data-bind="click: doVote">Submit</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>