<tr id="newOptionRow" data-bind="visible: optionAdding">
    <td>
        <input class="form-control input-block" placeholder="Name" data-bind="value: newName" />
    </td>
    <td>
        <input class="form-control input-block" placeholder="Description" data-bind="value: newDescription" />
    </td>
    <td class="hidden-xs hidden-sm">
        <input class="form-control input-block" placeholder="More Info" data-bind="value: newInfo" />
    </td>
    <td>
        <button type="submit" class="btn btn-primary" data-bind="click: addOption">Add</button>
    </td>
</tr>

