<div data-bind="resultChart: filteredChartData, chartOptions: {
        legend: true, ordered: false, columns: true, optionTitle: 'Round',
        annotations: [ { value: winVotesRequired(), tip: '50% Majority' } ] }"></div>

<div class="round-slider" data-bind="slider: roundsDisplay, range: roundsRange"></div>
