@model PollModel
@{
    ViewBag.ScriptName = "Poll";
}
<meta name="google-signin-clientid" content="411410182235-0p8378ip8snlvbut4grq5ar61r8p60c2.apps.googleusercontent.com" />
<meta name="google-signin-scope" content="profile" />
<meta name="google-signin-cookiepolicy" content="single_host_origin" />

<div class="row">
    <div class="col-md-8">
        <div class="page-header">
            <h1>
                <span data-bind="text: pollName"></span>
                <small>by <span data-bind="text: pollCreator"></span></small>
            </h1>
        </div>
        <div id="errorArea"></div>
        <div class="accordion" id="accordion">
            <!--Login Section-->
            <div id="loginSection" class="accordion-group panel panel-default">
                <div class="accordion-heading panel-heading clickable" data-bind="click: function(){if(!userName()) showSection($element)}">
                    <button id="logout-button" class="btn btn-danger" data-bind="click: logout, visible: userName(), click: function() { logout(); showSection($element.parentElement)}">Logout</button>
                    <h4>Login</h4> <span data-bind="text: '(Logged in as: '+userName()+')', visible: userName() "></span>
                </div>
                <div class="accordion-body panel-body collapse row">
                    <div data-bind="visible: !requireAuth()" class="row">
                        <div class="col-xs-1"></div>

                        <div class="col-sm-4 centered form-group" data-bind="visible: !requireAuth()">
                            <h4>Vote anonymously...</h4>
                            <form>
                                <label for="loginUsername" class="control-label">Name</label>
                                <input id="loginUsername" class="form-control" autofocus placeholder="E.g. Your Name" />
                                <label class="control-label info-message" id="usernameWarnMessage" hidden> Username must be alpha-numeric</label>
                                <button id="Name-loginSubmit" class="btn btn-primary" data-bind="click: submitLogin">Submit</button>
                            </form>
                        </div>

                        <div class="col-sm-1 divider"></div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4 centered form-group">
                            <h4>...or sign in</h4>
                            <br />
                            <button id="signinGoogleButton" class="signinButton"><img src="/img/sign-in-with-google.png" data-bind="click: googleLogin" /></button>
                            <button id="signinFacebookButton" class="signinButton"><img src="/img/sign-in-with-facebook.png" data-bind="click: facebookLogin" /></button>
                        </div>
                        <div class="col-xs-1"></div>
                    </div>
                    <div data-bind="visible: requireAuth()">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4 text-center">
                            <button id="signinGoogleButton" class="signinButton"><img src="/img/sign-in-with-google.png" data-bind="click: googleLogin" /></button>
                        </div>
                        <div class="col-sm-4 text-center">
                            <button id="signinFacebookButton" class="signinButton"><img src="/img/sign-in-with-facebook.png" data-bind="click: facebookLogin" /></button>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
            </div>
            <!--Voting Section-->
            <div id="voteSection" class="accordion-group panel panel-default" data-bind="css: { 'panel-warning' : pollExpired }">
                <div class="accordion-heading panel-heading clickable" data-bind="click: function() { if(!pollExpired() && userName()) showSection($element) }">
                    <h4>Vote</h4><span data-bind="text: pollExpired() ? 'Poll closed' : ('Poll closes in ' + pollExpiryOffset()), visible: pollExpires()"></span>
                </div>

                <div class="accordion-body panel-body collapse row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 centered" id="votingArea" data-bind="with: votingStrategy">
                        @{ if (Model.VotingStrategy != String.Empty) { Html.RenderPartial("_" + Model.VotingStrategy + "VotePartial"); } }
                        <hr />
                        <div class="text-center">
                            <button class="btn btn-danger" data-bind="click: $parent.clearVote">Delete Vote</button>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <!--Results Section-->
            <div id="resultSection" class="accordion-group panel panel-default">
                <div class="accordion-heading panel-heading clickable" data-bind="click: function(){ showSection($element) }">
                    <h4>Results</h4>
                </div>
                <div class="accordion-body panel-body collapse row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 centered" data-bind="with: votingStrategy">
                        <div><h2>
                            Winner<span data-bind="text: winners().length > 1 ? 's (Draw)' : ''"></span>: 
                            <span data-bind="text: winners().join(', ')"></span>
                        </h2></div>

                        @{ if (Model.VotingStrategy != String.Empty) { Html.RenderPartial("_" + Model.VotingStrategy + "ResultsPartial"); } }
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default" id="chat-panel">
            <div class="panel-heading"><span class="panel-title">Chat</span></div>
            <div style="height:300px; overflow-y:auto" id="chat-messages" class="panel-body" data-bind="foreach: {data: chatMessages, as: 'message'}">
                <div data-bind="text: message.User.Name + ' (' + message.Timestamp + '): ' + message.Message"></div>
            </div>
            <div class="panel-footer">
                <form>
                    <div class="input-append form-group">
                        <input class="form-control" type='text' id="chatTextInput" placeholder="Message"
                               data-bind="enable: userName(), value: chatMessage, valueUpdate: 'afterkeydown'" />
                        <button class="btn btn-primary" type="submit"
                                data-bind="click: sendChatMessage, enable: userName() && chatMessage()">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        require(["Poll", '@(Model.VotingStrategy + "Vote")'], function (PollViewModel, VotingStrategyViewModel) {
            new PollViewModel('@Model.Id', '@Model.Token', VotingStrategyViewModel);
        });
    </script>
}
