<div class="page-header">
    <h2>Voting Information</h2>
</div>

<h3>Single Vote</h3>

<ul>
    <li>You can vote for just one option.</li>
    <li>You can change your vote however many times you want.</li>
    <li>The option with the most votes is the winner.</li>
</ul>

<h3>Points Based Vote</h3>

<ul>
    <li>You have X number of points to distribute over the options.</li>
    <li>Each option can be voted for Y number of times.</li>
    <li>You can change the distribution of your points however many times you want.</li>
    <li>The option with the most points is the winner.</li>
</ul>

<h3>Ranked Vote</h3>

<ul>
    <li>You may select any number of options and arrange them by preference.</li>
    <li>The top option is considered your primary preference.</li>
    <li>You can change the your preferences however many times you want.</li>
    <li>If a single option has a majority, it wins. Otherwise the option with the fewest votes is eliminated and its votes redistributed based on preference.</li>
</ul>