<div layout="row" ng-controller="ForgottenPasswordController">

    <div flex-gt-md="30"
         flex-md="50"
         flex-sm="90"
         offset-gt-md="35"
         offset-md="25"
         offset-sm="5">

        <md-content>

            <h2>
                Forgotten your password?
            </h2>
            <p>
                Enter your email and we'll send you a link to reset it.
            </p>

            <form name="forgottenPasswordForm" ng-submit="sendResetLink()">

                <md-input-container>
                    <label>Email</label>
                    <input ng-model="user.email"
                           type="email"
                           name="email"
                           required
                           ng-model-options="{ debounce: 500 }">

                    <div ng-messages="forgottenPasswordForm.email.$error" ng-if="forgottenPasswordForm.email.$touched">
                        <span ng-message="required">Email is required</span>
                        <span ng-message="email">Email is not valid</span>
                    </div>
                </md-input-container>

                <div layout="row" layout-sm="column" layout-align-gt-sm="end center">
                    <md-button class="md-primary md-raised" type="submit">
                        Send Reset Link
                    </md-button>
                </div>

            </form>
        </md-content>
    </div>
</div>
