<div layout="row" ng-controller="ResetPasswordController">

    <div flex-gt-md="30"
         flex-md="50"
         flex-sm="90"
         offset-gt-md="35"
         offset-md="25"
         offset-sm="5">

        <md-content>

            <h2>
                Password Reset
            </h2>
            <p>
                Enter a new password below
            </p>

            <form name="resetPasswordForm" ng-submit="sendResetLink(resetPasswordForm)">

                <md-input-container>
                    <label><md-icon md-font-icon="fa-asterisk" class="fa" alt="asterisk"></md-icon> Password</label>
                    <input ng-model="user.password"
                           type="password"
                           name="password"
                           required
                           minlength="6"
                           ng-model-options="{ debounce: 500 }">

                    <div ng-messages="resetPasswordForm.password.$error" ng-if="resetPasswordForm.password.$touched">
                        <span ng-message="required">Password is required</span>
                        <span ng-message="minlength">Password must be at least 6 characters</span>
                    </div>
                </md-input-container>

                <div layout="row" layout-sm="column" layout-align-gt-sm="end center">
                    <md-button class="md-primary md-raised" ng-disabled="sending" type="submit">
                        Reset Password
                    </md-button>
                </div>

            </form>
        </md-content>
    </div>
</div>
